data/test/*/*.md
data/test/*/*.ttx
webapp/app/static/js/bower_components/*
webapp/app/lib/*
*pyc
.*
*~
*.egg-info
/build
/dist
*.egg
bower_components/
bakery_cli/report/app/data/*
!bakery_cli/report/app/data/placeholder
bakery_cli/report/app/static/css/fonts/*
!bakery_cli/report/app/static/css/fonts/placeholder
bakery_cli/report/app/static/css/faces.css
images/*
fontbakery-check-results.json
fontbakery-check-results.md
