[MESSAGES CONTROL]
disable=
	# wont_fix
	bad-indentation,
	inconsistent-return-statements,
	invalid-name,
	logging-fstring-interpolation,
	too-many-public-methods,
	too-many-return-statements,

	# maybe_someday
	abstract-method,
	anomalous-backslash-in-string,
	arguments-renamed,
	attribute-defined-outside-init,
	bare-except,
	broad-except,
	broad-exception-raised,
	c-extension-no-member,
	chained-comparison,
	consider-iterating-dictionary,
	consider-using-dict-items,
	consider-using-enumerate,
	consider-using-f-string,
	consider-using-in,
	consider-using-ternary,
	consider-using-with,
	dangerous-default-value,
	duplicate-code,
	expression-not-assigned,
	fixme,
	global-statement,
	global-variable-undefined,
	import-outside-toplevel,
	keyword-arg-before-vararg,
	len-as-condition,
	line-too-long,
	logging-format-interpolation,
	logging-not-lazy,
	missing-docstring,
	modified-iterating-dict,
	multiple-statements,
	no-else-raise,
	no-else-return,
	no-member,
	no-name-in-module,
	not-callable,
	pointless-statement,
	pointless-string-statement,
	protected-access,
	raise-missing-from,
	redefined-builtin,
	redefined-outer-name,
	singleton-comparison,
	superfluous-parens,
	too-few-public-methods,
	too-many-arguments,
	too-many-boolean-expressions,
	too-many-branches,
	too-many-format-args,
	too-many-instance-attributes,
	too-many-lines,
	too-many-locals,
	too-many-nested-blocks,
	too-many-statements,
	trailing-newlines,
	trailing-whitespace,
	undefined-loop-variable,
	undefined-variable,
	unexpected-keyword-arg,
	ungrouped-imports,
	unidiomatic-typecheck,
	unnecessary-comprehension,
	unnecessary-dict-index-lookup,
	unnecessary-pass,
	unspecified-encoding,
	unsupported-membership-test,
	unused-argument,
	unused-import,
	unused-variable,
	use-a-generator,
	use-dict-literal,
	use-implicit-booleaness-not-comparison,
	use-list-literal,
	used-before-assignment,
	useless-object-inheritance,
	useless-return,
	wrong-import-order,
	wrong-import-position,
