recursive-include bakery_cli/report/build_info *
recursive-include bakery_cli/report/build_info/data *
recursive-include bakery_cli/report/build_info/pages *
recursive-include bakery_cli/report/build_info/static/css/fonts *
recursive-include bakery_cli/report/build_info/static/css/libs/jsondiffpatch *
recursive-include bakery_cli/report/build_info/static/css/pages *
recursive-include bakery_cli/report/build_info/static/js/controllers *
recursive-include bakery_cli/report/build_info/static/js/libs/gchart *
recursive-include bakery_cli/report/build_info/static/js/libs/jsondiffpatch *
recursive-include bakery_cli/report/templates *
recursive-include bakery_cli/report/templates/css *
include bakery_lint/tests/upstream/diacritics.txt
include bakery_cli/bakery.defaults.yaml
recursive-include bakery_lint/tests/licenses *
