## The following requirements were added by pip --freeze:
Flask
Flask-Babel
Babel
Flask-FlatPages
Flask-Mail
Flask-SQLAlchemy
pysqlite
requests
rauth
# celery
# yota
# alembic

# builder and checker
TTFQuery
fonttools2
fontaine
robofab

# async libs
gunicorn==0.16.1
gevent
gevent-socketio
gevent-subprocess
