## The following requirements were added by pip --freeze:
Flask
Flask-Babel
Babel
Flask-FlatPages
Flask-Mail
Flask-SQLAlchemy
gunicorn
pysqlite
requests
rauth

# builder and checker
TTFQuery
fonttools2
fontaine
robofab
