.dashboard {
        width: 60%;
        margin: 0 auto;
}

.familyname {
        font-size: 16pt;
        font-variant: small-caps;
}

ul {
        margin: 0 auto;
        width: 60%;
}

li {
        padding: 4px;
        width: 100%;
        height: 2em;
        list-style-type: none;
}

li:nth-child(even) {
        background: #CCC;
}

li:nth-child(odd){
        background: #EEE;
}

progress {
  padding: 1px;
  float: right;
  fill-color: red;
  font-size: .6em;
  height: 80%;
  width: 40%;
  border: 1px solid grey;
  background: #fff;
}

progress[value]::-moz-progress-bar {
  background-color: #391;
}

.axis path {
        fill: none;
        stroke: #777;
        shape-rendering: crispEdges;
}
.axis text {
        font-family: Lato;
        font-size: 13px;
}
