{% macro font_card(repo) %}
    <h4><a href="{{ url_for('project.setup', username=repo.login, project_id=repo.id )}}">{{ repo.title }}</a> <i class="fa fa-shield text-success"></i></h4>

<p>    <strong>Stats:</strong><br>
    Total: {{ repo.family_stat.total }} <br>
    Month: {{ repo.family_stat.month }} <br>
    Week: {{ repo.family_stat.total }}<br></p>
{% endmacro %}


{% macro project_actions(repo) %}
{% if repo.latest_commit and repo.current_revision() != repo.latest_commit %}
    <a href="{{ url_for('project.pull', username=repo.login, project_id=repo.id)}}" data-confirm="{{ _('Sync upstream data?') }}" data-title="{{ _('Confirm') }}" class="btn btn-xs">{{ _("Pull update and rebuild") }}</a>
{% elif not repo.config['local'].get('setup') %}
    <a href="{{ url_for('project.setup', username=repo.login, project_id=repo.id )}}" class="btn btn-xs">{{ _("Setup") }}</a>
{% elif repo.config['local']['status']=='repo' %}
    <a href="{{ url_for('project.home', username=repo.login, project_id=repo.id )}}" class="btn btn-xs">{{ _("Check") }}</a>
{% elif repo.config['local']['status']=='local' %}
    <a href="{{ url_for('project.home', username=repo.login, project_id=repo.id )}}" class="btn btn-xs">{{ _("Build") }}</a>
{% else %}
    <a class="btn btn-xs btn-danger">{{ _("State Unknown") }}</a>
{% endif %}
{% endmacro %}
