{% macro font_card(repo) %}
    <h4><a href="{{ url_for('project.setup', project_id=repo.id )}}">{{ repo.title }}</a> <i class="fa fa-shield text-success"></i></h4>

<p>    <strong>Stats:</strong><br>
    Total: {{ repo.family_stat.total }} <br>
    Month: {{ repo.family_stat.month }} <br>
    Week: {{ repo.family_stat.total }}<br></p>
{% endmacro %}


{% macro project_actions(repo) %}
{# setup's values are loaded from defaults #}
{%   if repo.config['local']['status']=='default' %}
    <a href="{{ url_for('project.setup', project_id=repo.id )}}" class="btn btn-xs">{{ _("Setup") }}</a>
{# setup's values are pre-loaded from the repo #}
{% elif repo.config['local']['status']=='repo' %}
    <a href="{{ url_for('project.home', project_id=repo.id )}}" class="btn btn-xs">{{ _("Check") }}</a>
{# setup's values here and in the repo don't match #}
{# {% elif not repo.config['local'].get('bakery_yaml_in_sync') %}
    <a href="{{ url_for('project.rfiles', project_id=repo.id )}}" class="btn btn-xs">{{ _("Push bakery.yaml") }}</a> #}
{# setup's values here and in the repo match #}
{% elif repo.config['local']['status']=='local' %}
    <a href="{{ url_for('project.home', project_id=repo.id )}}" class="btn btn-xs">{{ _("Build") }}</a>
{# build completed successfully #}
{# {% elif repo.config['local']['status']=='built' %}
    <a href="{{ url_for('project.log', project_id=repo.id )}}" class="btn btn-xs">{{ _("Review") }}</a>  #}
{# This should never be shown, but just in case... # TODO: make this button link to some documentation about how to file issues #}
{% else %}
    <a class="btn btn-xs btn-danger">{{ _("State Unknown") }}</a>
{% endif %}
{% endmacro %}
