{% macro render_flash_message() %}
    {% block flash_message %}
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                {% for category, msg in messages %}
                <div id='flash_message_container'>
                    <div class="alert alert-{{ {'message':'success', 'error':'danger'}.get(category, 'success') }} alert-dismissable">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                      {{ msg }}
                    </div>
                </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    {% endblock %}
{% endmacro %}
