{% extends "base.html" %}
{% set page_title = _("Add Repositories") %}

{% block body %}
    <h2>{{ page_title }}</h2>

<div class="tabbable">

    <div class="alert alert-info">
        {{ _("When you click 'Add Repository,' Font Bakery will download the entire repository in the background.") }}
    </div>

  <ul class="nav nav-tabs">
    <li class="active"><a href="#owngit" data-toggle="tab">{{ _("URL") }}</a></li>
    <li><a href="#massgithub" data-toggle="tab">{{ _("GitHub: One Time") }}</a></li>
    <li><a href="#github" data-toggle="tab">{{ _("GitHub: Subscription") }}</a></li>
  </ul>

  <div class="tab-content">

    <div id="massgithub" class="tab-pane">
      <h4>{{ _("From GitHub") }}</h4>
      <form class="well well-small" action="{{ url_for('settings.update') }}" method="POST">
        {% if cache %}
          {{ _("List of GitHub repositories last updated") }} {{ cache.updated | pretty_date}}
          <button type="submit" class="btn btn btn-small pull-right">{{ _("Refresh") }}</button>
          {% else %}
          <button type="submit" class="btn btn-primary btn-small pull-right">{{ _("Refresh") }}</button>
        {% endif %}
      </form>

      <p>{{ _("Select repositories to add from your GitHub account") }}:</p>

        <form action="{{ url_for('settings.massgit') }}" method="POST">
          {% if cache %}
            {% for item in cache.data -%}
            <label class="checkbox" for="{{ item.full_name }}"><input id="{{ item.full_name }}" type="checkbox" {% if item.full_name in projects%}checked="checked"{%endif%} value="{{ item.full_name }}" name="git"> {{ item.full_name }}</label>
            {%- endfor %}
          {% else %}
            <p class="muted">{{ _("Click 'Refresh' to update this list.") }}</p>
          {% endif %}

          <button type="submit" class="btn btn-primary" data-confirm="{{ _('Does this repository contain only works you have permission to modify (because you are the owner or it is licensed with an Open Source license)?') }}">{{ _("Add repositories") }}</button>
        </form>

    </div>

    <div id="github" class="tab-pane">
      <h4>From GitHub with Subscriptions</h4>
      <form class="well well-small" action="{{ url_for('settings.update') }}" method="POST">
        {% if cache %}
          List of GitHub repositories last updated {{ cache.updated | pretty_date}}
          <button type="submit" class="btn btn btn-small pull-right">Refresh</button>
          {% else %}
          <button type="submit" class="btn btn btn-primary pull-right">Refresh</button>
        {% endif %}
      </form>

      <p>To add repositories from GitHub with webhooks to get updates when a repo is updated, click a <a class="btn btn-mini"><i class="icon-star-empty"></i></a></p>

      <table class="table table-striped table-condensed">
        <thead>
          <tr>
            <th><i class="icon-star-empty"></i></th>
            <th>Repository</th>
            <th>Description</th>
            <th>Settings</th>
          </tr>
        </thead>

        <tbody>
          {% if cache %}
            {% for item in cache.data -%}
              <tr {% if item.full_name in projects%} class="success" {% endif %}>
                <td>{% if item.full_name in projects %}<a href="{{ url_for('settings.delhook', full_name=item.full_name) }}"><i class="icon-star"></i></a>{% else %}<a href="{{ url_for('settings.addhook', full_name=item.full_name) }}" data-confirm="Does this repository contain only works you have permission to modify (because you are the owner or it is licensed with an Open Source license)?"><i class="icon-star-empty"></i></a>{% endif %}</td>
                <td>{{ item.full_name }} {% if item.homepage %}<a href="{{ item.homepage}} "><i class="icon-share"></i></a>{% endif %}</td>
                <td>{% if item.description %}{{ item.description | truncate(length=80)}}{% endif %}</td>
                <td><a href="{{ item.html_url }}/settings/hooks" class="btn"><i class="icon-wrench"></i> </a></td>
              </tr>
            {%- endfor %}
          {% else %}
          <tr>
              <td colspan="4">
                  <p class="muted">Click 'Refresh' to update this list.</p>
              </td>
          </tr> 
          {% endif %}
        </tbody>
      </table>

    </div>


    <div id="owngit" class="tab-pane active">
    <h4>Add Git Repository From URL</h4>

    <p>Enter a git clone string in the allowed format. If a login is required, provide it in the clone string <a href="https://www.kernel.org/pub/software/scm/git/docs/git-clone.html#URLS">(Learn more...)</a></p>

    <form class="form-inline" action="{{ url_for('settings.addclone') }}" method="POST">
      <label><code>$ git clone</code></label>
      <input type="text" class="input-xxlarge" name="clone" placeholder="git://[login:password@]domain.tld[:port]/path/to/repo.git">
      <button type="submit" class="btn btn-primary btn-small" data-confirm="Does this repository contain only works you have permission to modify (because you are the owner or it is licensed with an Open Source license)?">Add Repository</button>
    </form>

    <table class="table table-striped table-condensed">
      <thead>
        <tr>
          <th>ID</th>
          <th>Repository</th>
          <th>URL</th>
          <th>Remove</th>
        </tr>
      </thead>
      <tbody>
        {% if gitprojects %}
          {% for item in gitprojects -%}
            <tr>
              <td>{{ item.id }}</td>
              <td><a href="{{ url_for('project.fonts', project_id = item.id )}}">{{ item.title }}</a></td>
              <td><a href="{{ item.clone }}">{{ item.clone }} <i class="icon-signout"></i></a></td>
			  <td>
			      <form class="form-inline" action="{{ url_for('settings.delclone', project_id = item.id )}}" method="GET">
                    <button type="submit" class="btn btn-mini btn-block" data-confirm="Do you really want to remove this repository?"><i class="icon-trash"></i> </button>
                  </form>
			  </td>
            </tr>
          {%- endfor %}
        {% else %}
        <tr>
            <td colspan="2">
                <p class="muted">Add a git repository by URL</p>
            </td>
        </tr> 
        {% endif %}
      </tbody>
    </table>
    </div>

  </div><!-- /.tab-content -->
</div><!-- /.tabbable -->
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
// Javascript to enable link to tab
var hash = document.location.hash;
var prefix = "tab_";
if (hash) {
    $('.nav-tabs a[href='+hash.replace(prefix,"")+']').tab('show');
} 
// Change hash for page-reload
$('.nav-tabs a').on('shown', function (e) {
    window.location.hash = e.target.hash.replace("#", "#" + prefix);
});
</script>
{% endblock %}
