{% extends "base.html" %}
{% set page_title = _("Add repositories") %}

{% block body %}
    <h2>{{ _("Add repositories") }}</h2>

<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#owngit" data-toggle="tab">{{ _("URL") }}</a></li>
    <li><a href="#github" data-toggle="tab">{{ _("Github Subscription") }}</a></li>
    <li><a href="#massgithub" data-toggle="tab">{{ _("Github One Time") }}</a></li>

  </ul>
  <div class="tab-content">

    <div id="massgithub" class="tab-pane">
      <h4>Github One Time</h4>
      <form class="well well-small" action="{{ url_for('settings.update') }}" method="POST">
        {% if cache %}
          Last update was {{ cache.updated | pretty_date}}
          {% else %}
          Never updated
        {% endif %}
        <button type="submit" class="btn btn-info btn-small pull-right">Refresh</button>
      </form>

      <p>Add repositories from GitHub, but don't register webhooks to get updates when the repo is pushed to.</p>

        <form action="{{ url_for('settings.massgit') }}" method="POST">
          {% if cache %}
            {% for item in cache.data -%}
            <label class="checkbox" for="{{ item.full_name }}"><input id="{{ item.full_name }}" type="checkbox" {% if item.full_name in projects%}checked="checked"{%endif%} value="{{ item.full_name }}" name="git"> {{ item.full_name }}</label>
            {%- endfor %}
          {% else %}
            <p class="muted">Press 'Refresh' to update this list.</p>
          {% endif %}
          <p>TODO Pop up a dialog to confirm the repo has a libre license allowing you to copy it</p>
          <p>Repositories are cloned, which can take a while and your browser may show a timeout. If this happens, check the dashboard to confirm the repo has been cloned.</p>
          <button type="submit" class="btn">Submit</button>
        </form>

    </div>

    <div id="github" class="tab-pane">
      <h4>Github Subscription</h4>
      <form class="well well-small" action="{{ url_for('settings.update') }}" method="POST">
        {% if cache %}
          Last update was {{ cache.updated | pretty_date}}
          {% else %}
          Never updated
        {% endif %}
        <button type="submit" class="btn btn-info btn-small pull-right">Refresh</button>
      </form>

      <p>To register/unregister github repository press <a class="btn btn-mini"><i class="icon-star-empty"></i></a> in project row</p>

      <table class="table table-striped">
        <thead>
          <tr>
            <th><i class="icon-star-empty"></i></th>
            <th>Repository</th>
            <th>Description</th>
            <th>Settings</th>
          </tr>
        </thead>

        <tbody>
          {% if cache %}
            {% for item in cache.data -%}
              <tr {% if item.full_name in projects%} class="success" {% endif %}>
                <td>{% if item.full_name in projects %}<a href="{{ url_for('settings.delhook', full_name=item.full_name) }}"><i class="icon-star"></i></a>{% else %}<a href="{{ url_for('settings.addhook', full_name=item.full_name) }}" data-confirm="Are you confirm that this git repository contains font available under Open Source or Creative Commons licenses?"><i class="icon-star-empty"></i></a>{% endif %}</td>
                <td>{{ item.full_name }} {% if item.homepage %}<a href="{{ item.homepage}} "><i class="icon-share"></i></a>{% endif %}</td>
                <td>{% if item.description %}{{ item.description | truncate(length=80)}}{% endif %}</td>
                <td><a href="{{ item.html_url }}/settings/hooks"><i class="icon-wrench"></i></a></td>
              </tr>
            {%- endfor %}
          {% else %}
          <tr>
              <td colspan="4">
                  <p class="muted">Press 'Refresh' to update this list.</p>
              </td>
          </tr> 
          {% endif %}
        </tbody>
      </table>

    </div>


    <div id="owngit" class="tab-pane active">
    <h4>Add Git Repository From URL</h4>

    <p>Enter a git clone string in the allowed format. If the repo requires a login, provide the username and password in the clone string. <a href="https://www.kernel.org/pub/software/scm/git/docs/git-clone.html#URLS">Learn more...</a></p>

    <form class="form-inline" action="{{ url_for('settings.addclone') }}" method="POST"  data-confirm="Are you sure that this git repository contains fonts available under a libre license?">
      <label><code>$ git clone</code></label>
      <input type="text" class="input-xxlarge" name="clone" placeholder="git://[login:password@]domain.tld[:port]/path/to/repo.git">
      <button type="submit" class="btn btn-info btn-small">Add</button>
    </form>

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Repository URL</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {% if gitprojects %}
          {% for item in gitprojects -%}
            <tr>
              <td><code>{{ item.clone }}</code></td>
              <td><a href="{{ url_for('settings.delclone', project_id=item.id) }}"  data-confirm="Are you sure that you want to delete this github repository?">Delete</a></td>
            </tr>
          {%- endfor %}
        {% else %}
        <tr>
            <td colspan="2">
                <p class="muted">No git repositories added by URL yet</p>
            </td>
        </tr> 
        {% endif %}
      </tbody>
    </table>
    </div>

  </div><!-- /.tab-content -->
</div><!-- /.tabbable -->
{% endblock %}

{% block extrajs %}
<script type="text/javascript">
// Javascript to enable link to tab
var hash = document.location.hash;
var prefix = "tab_";
if (hash) {
    $('.nav-tabs a[href='+hash.replace(prefix,"")+']').tab('show');
} 
// Change hash for page-reload
$('.nav-tabs a').on('shown', function (e) {
    window.location.hash = e.target.hash.replace("#", "#" + prefix);
});
</script>

{% endblock %}