<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ page_title|default(_('Project')) }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    {% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-responsive.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    {% endblock %}

    {% block css_style %}
    {% endblock %}

    {% block js_top %}
    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
        <script src="{{ url_for('static', filename='bootstrap/js/html5shiv.js') }}"></script>
    <![endif]-->
    {% endblock %}

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>

<div class="container">
    
{% block topbar %}
    {% include "header.html" %}
{% endblock %}

{% from 'macros/misc.html' import render_flash_message %}
{{ render_flash_message() }}

{% block container %}
    <div class="container-fluid">
      <div class="row-fluid">
        {% block body %}
            {% block top %}
                <ul class="nav nav-pills">
                    {% for tab, link in tabs %}
                    <li class="{% if active == tab %}active{% endif %}">
                        <a href="{{ link }}">{{ tab|capitalize }}</a>
                    </li>
                    {% endfor %}
                </ul>
            {% endblock %}
            <div class="span9">
              <div class="hero-unit">
                <h1>Hello, world!</h1>
              </div>
            </div>
        {% endblock body %}
      </div>
    </div>
{% endblock %}

{% block footer %}
 {% include "footer.html" %}
{% endblock %}

</div>

{% block js_btm %}
  <script src="{{ url_for('static', filename='jquery-2.0.3.min.js') }}"></script>
  <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
  <script src="{{ url_for('static', filename='socket.io.min.js') }}"></script>
  <script src="{{ url_for('static', filename='jquery.pjax.js') }}"></script>
  <script src="{{ url_for('static', filename='tablesorter/jquery.tablesorter.min.js') }}"></script>
  <script src="{{ url_for('static', filename='jquery.number.min.js') }}"></script>
  <script src="{{ url_for('static', filename='jquery.highlight.min.js') }}"></script>
  <script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}

{% block extrajs %}
{% endblock %}

{% block ga %}{% include "macros/counters.html" %}{% endblock %}
</body>
</html>
