<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}{{ page_title|default(_('Project')) }}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Le styles -->
    {% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/bootstrap/dist/css/bootstrap.min.css') }}">
    {# <link rel="stylesheet" href="{{ url_for('static', filename='libs/bootstrap/dist/css/bootstrap-theme.min.css') }}"> #}
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/font-awesome/css/font-awesome.min.css') }}">
    {# <link rel="stylesheet" href="{{ url_for('static', filename='jquery.guiders.js/guiders-1.3.0.css') }}"> #}
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    {% endblock %}

    {% block css_style %}
    {% endblock %}

    {% block js_top %}
    {% endblock %}

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicons/favicon-32x32.png') }}">
</head>

<body>

{% block topbar %}
  {% include "header.html" %}
{% endblock %}

{% from 'macros/misc.html' import render_flash_message %}
{{ render_flash_message() }}

<div class="container">
  <div class="row">
    <div role="main">

    {% block body %}
    {% endblock body %}

    </div>

  </div>
</div>

{% block footer %}
 {% include "footer.html" %}
{% endblock %}

{% block js_btm %}
  <script src="{{ url_for('static', filename='libs/jquery/jquery.min.js') }}" type="text/javascript" charset="utf-8"></script>
  <script src="{{ url_for('static', filename='libs/bootstrap/dist/js/bootstrap.min.js') }}" type="text/javascript" charset="utf-8"></script>
  <script src="{{ url_for('static', filename='libs/socket.io-client/dist/socket.io.min.js') }}" type="text/javascript" charset="utf-8"></script>
  <script src="{{ url_for('static', filename='libs/ace-builds/src-min-noconflict/ace.js') }}" type="text/javascript" charset="utf-8"></script>
  <script src="{{ url_for('static', filename='libs/jquery.tablesorter/js/jquery.tablesorter.min.js') }}" type="text/javascript" charset="utf-8"></script>
  <script src="{{ url_for('static', filename='libs/jquery-number/jquery.number.min.js') }}" type="text/javascript" charset="utf-8"></script>
  <script src="{{ url_for('static', filename='jquery.highlight.min.js') }}" type="text/javascript" charset="utf-8"></script>
  <script src="{{ url_for('static', filename='libs/jquery.json2html/json2html.js') }}" type="text/javascript" charset="utf-8"></script>
  <script src="{{ url_for('static', filename='libs/jquery.json2html/jquery.json2html.js') }}" type="text/javascript" charset="utf-8"></script>
  {#<script src="{{ url_for('static', filename='libs/Guiders-JS/guiders-1.3.0.js') }}" type="text/javascript" charset="utf-8"></script> #}
  <script src="{{ url_for('static', filename='main.js') }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}

{% block extrajs %}
{% endblock %}

{% block ga %}{% include "macros/counters.html" %}{% endblock %}
</body>
</html>
