{# Dashboard for logged in user #}
{% extends 'base.html' %}
{% set page_title = _('Dashboard') %}

{% block body %}

<h2>{{ _("Dashboard") }}</h2>
<p>{{ _("List of available repositories.") }}</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th><i class="icon-circle muted"></i></th>
      <th>Clone string</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    {% if repos %}
      {% for item in repos -%}
        <tr>
          <td>{% if not item.state.get('autoprocess') %}<i class="icon-circle text-error"></i>{% else %} <i class="icon-circle text-success">{% endif %}</td>
          <td><a href="{{ url_for('project.fonts', project_id = item.id )}}">{{item.clone}}</a></td>
          <td>
          {% if item.yaml %}
            <span class="muted">OK</span>
            {% else %}
            Setup this repo <a href="{{ url_for('project.fonts', project_id = item.id )}}">now</a>  
          {% endif %}
          </td>
        </tr>
      {%- endfor %}
    {% else %}
    <tr>
        <td colspan="2">
            <p class="muted">{{ _("List of available repositries is empty") }}</p>
        </td>
    </tr> 
    {% endif %}
  </tbody>
</table>

{% endblock %}
