<footer class="footer">
    <div class="container">
        <ul class="footer-links">
            <li>Copyright &copy; 2013 <a href="https://github.com/xen/fontbakery/blob/master/AUTHORS.txt">The Font Bakery Authors</a>. All Rights Reserved.</li>
            <li><a href="https://github.com/xen/fontbakery/">The Font Bakery Project</a> is <a href="http://www.gnu.org/philosophy/free-sw.html">free software</a>, available under the terms of the <a href="https://github.com/xen/fontbakery/blob/master/LICENSE.txt">Apache 2.0 license</a>.</li>
            <li>Please <a href="https://github.com/xen/fontbakery/issues/new">report bugs</a>, suggest features, and contribute on <a href='https://github.com/xen/fontbakery/'>GitHub <i class="icon-github"></i></a>
        </ul>
    </div>
</footer>
