<footer class="footer">
    <div class="container">
        <ul class="footer-links">
            <li>Copyright &copy; 2013 The Font Bakery Authors. All Rights Reserved.</li>
            <li class="muted">&middot;</li>
            <li><a href='https://github.com/xen/bakery/'>GitHub</a></li>
        </ul>
	        <p><a href='{{ url_for('frontend.page', path='about') }}'>The Font Bakery project</a> is free software, available under the terms of the <a href="http://www.apache.org/licenses/LICENSE-2.0.html">Apache 2.0 license</a></p>
    </div>
</footer>
