<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
 
      <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
      <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
 
      <a class='brand' href='{{ url_for('frontend.splash') }}'>{{ _("Font backery") }}</a>
 
      <!-- Everything you want hidden at 940px or less, place within here -->
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="active"><a href="{{ url_for('frontend.splash') }}">{{ _("Home") }}</a></li>
          <li><a href="{{ url_for('frontend.page', path='about') }}">{{ _("About") }}</a></li>
          <li><a href="{{ url_for('frontend.page', path='docs') }}">{{ _("Docs") }}</a></li>
        </ul>

        <ul class="nav pull-right">
          {% if g.user %}
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img src="{{ g.user.getAvatar() }}"/> {{ g.user.name }} <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="{{ url_for('gitauth.settings') }}">Settings</a></li>
              <li><a href="{{ url_for('gitauth.logout') }}">Log out</a></li>
            </ul>
          </li>
          {% else %}
          <li><a class="btn btn-inverse" href="{{ url_for('gitauth.login') }}"><i class="icon-user icon-white"></i> <strong>Login</strong></a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </div>
</div>
