<div class="span3">
    <form action="" method="GET">
    <input type="text" id="searchfield" class="span12" placeholder="Quick find…">
    </form>

{#     <div class="well sidebar-nav">
        <ul class="nav nav-list">
          <li><a href="#"><i class="icon icon-remove-sign"></i>Link <small>5</small></a></li>
        <li class="active"><a href="#thumbnails"><i class="icon-chevron-right"></i> Thumbnails</a></li>
        </ul>
    </div><!--/.well -->
 #}

{% if g.projects %}
<div class="sidebar-nav">
    <ul class="nav nav-list">
      <li class="nav-header">Your repos</li>
    {% for item in g.projects %}
      <li {% if (request.script_root + request.path).startswith(url_for('project.fonts', project_id = item.id )) %}
        class="active"
      {% endif %}><a href="{{ url_for('project.fonts', project_id = item.id )}}">{{item.clone|truncate(40, True)}}</a></li>
    {% endfor %}
      <li class="nav-header">Add more</li>
      <li><a href="{{ url_for('settings.repos') }}">Settings</a></li>
    </ul>
</div>
{% endif %}

{#
<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Recent</a></li>
    <li><a href="#tab2" data-toggle="tab">Personal</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">

    <div class="sidebar-nav">
        <ul class="nav nav-list">
          <li class="nav-header">Most recent</li>
          <li><a href="#"><i class="icon icon-remove-sign"></i>dave/font <small class="pull-right">5</small></a></li>
          <li><a href="#"><i class="icon icon-ok-sign"></i>theleagueof / league-gothic <small class="pull-right">500</small></a></li>
          <li><a href="#"><i class="icon icon-remove-sign"></i>xen/font <small class="pull-right">1</small></a></li>
          <li><a href="#"><i class="icon icon-ok-sign"></i>xen/font2 <small class="pull-right">2</small></a></li>

        </ul>
    </div><!--/.well -->

    </div>
    <div class="tab-pane" id="tab2">

    <div class="sidebar-nav">
        <ul class="nav nav-list">
          <li><a href="#"><i class="icon icon-remove-sign"></i>xen/font <small class="pull-right">5</small></a></li>
          <li><a href="#"><i class="icon icon-ok-sign"></i>xen/font2 <small class="pull-right">5</small></a></li>
          <li><a href="#"><i class="icon icon-remove-sign"></i>xen/font-awesome <small class="pull-right">5</small></a></li>
          <li><a href="#"><i class="icon icon-ok-sign"></i>xen/font-comicsans <small class="pull-right">5</small></a></li>
        </ul>
    </div><!--/.well -->

    </div>
  </div>
</div>
#}

</div><!--/span-->

