{% extends 'base.html' %}
{% set page_title = _('Font Bakery') %}
{% block body %}



<div class="jumbotron" style="padding-top: 20px; padding-bottom: 20px; margin-top: 45px;">
  <h1 style="margin-bottom:0.25em">{{ page_title }}</h1>
  <p class="lead"><a class="btn btn-lg btn-success" href="{{ url_for('gitauth.login') }}"><i class="fa fa-github"></i> {{ _("Login") }}</a></p>
  <p class="lead">{{ _("Building and updating fonts should be simple. <br /> That’s what Font Bakery is for. <br /> <a href='/docs'>Learn More...</a>") }}</p>
</div>
{% if g.debug %}
  <p style="text-align:center"><a class="btn btn-xs" href="{{ url_for('gitauth.me') }}"><i class="fa fa-plane"></i> {{ _("Offline Login") }}</a></p>
{% endif %}
{% endblock %}
