{% extends 'base.html' %}

{% set page_title = _('View tasks queue') %}

{% block body %}
<h3>Tasks Queue</h3>
<table class="table">
  <thead>
    <tr>
      <th>Task</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  {% for task in tasks %}
  <tr{% if task.done and not task.failed %} class="text-success"{% elif task.done and task.failed %} class="text-danger"{% endif %}>
    <td>{{ task.description }}</td>
    <td>{{ task.project.title }}</td>
    <td>
    {% if task.done %}
      {% if not task.failed %}<i class="glyphicon glyphicon-ok" />
      {% else %}<i class="glyphicon glyphicon-remove" />{% endif %}
    {% else %}
      <i class="glyphicon glyphicon-refresh" />
    {% endif %}
    </td>
  </tr>
  {% endfor %}
  </tbody>
</table>
{% endblock %}
