<p class="text-center" ng-hide="isReady()">
  <i class="fa fa-spinner fa-spin fa-5x"></i>
</p>
<div ng-show="isReady()" ng-cloak>
<div class="flex-container">
  <table id="fontFacesTable" class="table table-dynamic-width table-striped table-hover table-bordered table-condensed" apply-sorting transpose-table="button.transposer">
    <caption><h4>Font Styles <button class="btn btn-mini transposer" tooltip="Transpose table"><i class="fa fa-repeat"></i></button></h4></caption>
    <thead>
    <tr>
      <th>Weight</th>
      <th>Roman</th>
      <th>Italic</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="(weight, faces) in faces track by $index">
      <td class="fixed-col" data-sorting="asc">{{ weight }} <span class="pull-right"><i class="fa fa-caret-left"></i> <i class="fa fa-caret-right"></i></span></td>
      <td>
        <div ng-repeat="face in faces">
          <div ng-if="face.style == 'normal'">
            <div ng-style="{'font-family': face.postScriptName, 'font-style': 'normal', 'font-size': '24pt'}">
              {{ face.filename }}
            </div>
          </div>
        </div>
      </td>
      <td>
        <div ng-repeat="face in faces">
          <div ng-if="face.style == 'italic'">
            <div ng-style="{'font-family': face.postScriptName, 'font-size': '24pt'}">
              {{ face.filename }}
            </div>
          </div>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<h2 class="text-center">Blockers</h2>
<div ng-if="average_pie_chart" class="col-md-4 col-md-offset-4">
  <h1>average_pie_chart</h1>
  <div google-chart chart="average_pie_chart" style="{{cssStyle}}"></div>
</div>
<div ng-repeat="chart in pie_charts" class="col-md-4 col-md-offset-4">
  <div google-chart chart="chart" on-ready="mixins.updateChartTitle(chart.options.title, {x: '30%'})" style="{{cssStyle}}"></div>
</div>
<div class="flex-container">
  <table id="testsTable" ng-table="testsTableParams" class="table table-striped table-hover table-bordered table-condensed">
    <tr ng-repeat="test in $data track by $index" class="{{ test.result_class }}">
      <td data-title="'Category'" sortable="'categories'">{{ test.categories }}</td>
      <td data-title="'Description'" sortable="'description'"><span popover-title="{{ test.orig_data.name|replace:'.':'/' }}.py" popover-placement="top" data-placement="top" popover="{{ test.orig_data.methodName }}()">{{ test.description }}</span></td>
      <td data-title="'File'" sortable="'font'">{{ test.font }}</td>
      <td data-title="'Result'" sortable="'result_msg'">{{ test.result_msg }}</td>
      <td data-title="'Status'" sortable="'result_status'">{{ test.result_status }}</td>
    </tr>
  </table>
</div>

<div class="flex-container">
  <table id="vmetTable" class="table table-dynamic-width table-striped table-hover table-bordered table-condensed" apply-sorting transpose-table="button.transposer">
    <caption><h4>Vertical metrics <button class="btn btn-mini transposer" tooltip="Transpose table"><i class="fa fa-repeat"></i></button></h4></caption>
    <thead>
    <tr>
      <th ng-repeat="heading in metrics.headings track by $index">{{ heading }}</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="(parameter, values) in metrics.data track by $index">
      <td class="fixed-col" data-sorting="asc">{{ parameter }} <span class="pull-right"><i class="fa fa-caret-left"></i> <i class="fa fa-caret-right"></i></span></td>
      <td ng-repeat="value in values track by $index" class="text-right">{{ value }}</td>
    </tr>
    </tbody>
  </table>
</div>

<h4>TTF Table Sizes</h4>
<div ng-if="deviation_line_chart">
  <div google-chart chart="deviation_line_chart" style="{{cssStyle}}"></div>
</div>
<div ng-if="average_line_chart">
  <div google-chart chart="average_line_chart" style="{{cssStyle}}"></div>
</div>

<div class="flex-container">
  <table id="ttfTableSizesTable" class="table table-dynamic-width table-striped table-hover table-bordered table-condensed" apply-sorting transpose-table="button.transposer">
    <caption>
      <h4>Table sizes <button class="btn btn-mini transposer" tooltip="Transpose table"><i class="fa fa-repeat"></i></button></h4>
    </caption>
    <thead>
    <tr>
      <th>Parameter</th>
      <th class="hidden" ng-repeat-start="font in table_sizes.sizes"></th>
      <th ng-repeat="(name, params) in font">{{ name }}</th>
      <th class="hidden" ng-repeat-end></th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="table in table_sizes.tables">
      <td class="fixed-col" data-sorting="asc">{{ table }} <span class="pull-right"><i class="fa fa-caret-left"></i> <i class="fa fa-caret-right"></i></span></td>
      <td class="hidden" ng-repeat-start="font in table_sizes.sizes"></td>
      <td ng-repeat="(name, params) in font" class="text-right">{{ params[table]|default:'N/A' }}</td>
      <td class="hidden" ng-repeat-end></td>
    </tr>
    </tbody>
  </table>
</div>

<div ngif="autohint_sizes">
  <div class="flex-container">
    <table id="autohintSizesTable" class="table table-dynamic-width table-striped table-hover table-bordered table-condensed" apply-sorting transpose-table="button.transposer">
      <caption>
        <h4>ttfautohint filesize impact statistic <button class="btn btn-mini transposer" tooltip="Transpose table"><i class="fa fa-repeat"></i></button></h4>
      </caption>
      <thead>
      <tr>
        <th>Parameter</th>
        <th ng-repeat="item in autohint_sizes">{{ item['fontname'] }}</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td class="fixed-col" data-sorting="asc">Before <span class="pull-right"><i class="fa fa-caret-left"></i> <i class="fa fa-caret-right"></i></span></td>
        <td ng-repeat="item in autohint_sizes">{{ item['origin'] }}</td>
      </tr>
      <tr>
        <td class="fixed-col" data-sorting="asc">After <span class="pull-right"><i class="fa fa-caret-left"></i> <i class="fa fa-caret-right"></i></span></td>
        <td ng-repeat="item in autohint_sizes">{{ item['processed'] }}</td>
      </tr>
      <tr>
        <td class="fixed-col" data-sorting="asc">Increase <span class="pull-right"><i class="fa fa-caret-left"></i> <i class="fa fa-caret-right"></i></span></td>
        <td ng-repeat="item in autohint_sizes">{{ item['processed'] - item['origin'] }}</td>
      </tr>
      <tr>
        <td class="fixed-col" data-sorting="asc">Change <span class="pull-right"><i class="fa fa-caret-left"></i> <i class="fa fa-caret-right"></i></span></td>
        <td ng-repeat="item in autohint_sizes">{{ item['processed'] / item['origin'] | number: 3 }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="flex-container">
  <table id="fontDescrTable" class="table table-dynamic-width table-striped table-hover table-bordered table-condensed" apply-sorting transpose-table="button.transposer">
    <caption><h4>Font Description <button class="btn btn-mini transposer" tooltip="Transpose table"><i class="fa fa-repeat"></i></button></h4></caption>
    <thead>
    <tr>
      <th>Parameter</th>
      <th ng-repeat="(font, fontaine) in fontaine_fonts">{{ font }}</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td class="fixed-col" data-sorting="asc">Common Name <span class="pull-right"><i class="fa fa-caret-left"></i> <i class="fa fa-caret-right"></i></span></td>
      <td ng-repeat="(font, fontaine) in fontaine_fonts">{{ fontaine.common_name }} </td>
    </tr>
    <tr>
      <td class="fixed-col" data-sorting="asc">Full Name <span class="pull-right"><i class="fa fa-caret-left"></i> <i class="fa fa-caret-right"></i></span></td>
      <td ng-repeat="(font, fontaine) in fontaine_fonts">{{ fontaine._full_name }}</td>
    </tr>
    <tr>
      <td class="fixed-col" data-sorting="asc">PostScript Name <span class="pull-right"><i class="fa fa-caret-left"></i> <i class="fa fa-caret-right"></i></span></td>
      <td ng-repeat="(font, fontaine) in fontaine_fonts">{{ fontaine._postscript }}</td>
    </tr>
    <tr>
      <td class="fixed-col" data-sorting="asc">Subfamily <span class="pull-right"><i class="fa fa-caret-left"></i> <i class="fa fa-caret-right"></i></span></td>
      <td ng-repeat="(font, fontaine) in fontaine_fonts">{{ fontaine.sub_family }}</td>
    </tr>
    <tr>
      <td class="fixed-col" data-sorting="asc">Weight <span class="pull-right"><i class="fa fa-caret-left"></i> <i class="fa fa-caret-right"></i></span></td>
      <td ng-repeat="(font, fontaine) in fontaine_fonts">{{ fontaine.weight }}</td>
    </tr>
    <tr>
      <td class="fixed-col" data-sorting="asc">Version <span class="pull-right"><i class="fa fa-caret-left"></i> <i class="fa fa-caret-right"></i></span></td>
      <td ng-repeat="(font, fontaine) in fontaine_fonts">{{ fontaine.version }}</td>
    </tr>
    <tr>
      <td class="fixed-col" data-sorting="asc">UniqueID <span class="pull-right"><i class="fa fa-caret-left"></i> <i class="fa fa-caret-right"></i></span></td>
      <td ng-repeat="(font, fontaine) in fontaine_fonts">{{ fontaine._unique_id }}</td>
    </tr>
    <tr>
      <td class="fixed-col" data-sorting="asc">Copyright <span class="pull-right"><i class="fa fa-caret-left"></i> <i class="fa fa-caret-right"></i></span></td>
      <td ng-repeat="(font, fontaine) in fontaine_fonts">{{ fontaine.copyright }}</td>
    </tr>
    <tr>
      <td class="fixed-col" data-sorting="asc">License <span class="pull-right"><i class="fa fa-caret-left"></i> <i class="fa fa-caret-right"></i></span></td>
      <td ng-repeat="(font, fontaine) in fontaine_fonts">{{ fontaine.license }}</td>
    </tr>
    <tr>
      <td class="fixed-col" data-sorting="asc">License URL <span class="pull-right"><i class="fa fa-caret-left"></i> <i class="fa fa-caret-right"></i></span></td>
      <td ng-repeat="(font, fontaine) in fontaine_fonts">
        <a href="{{ fontaine.license_url }}">{{ fontaine.license_url }}</a>
      </td>
    </tr>
    <tr>
      <td class="fixed-col" data-sorting="asc">Designer <span class="pull-right"><i class="fa fa-caret-left"></i> <i class="fa fa-caret-right"></i></span></td>
      <td ng-repeat="(font, fontaine) in fontaine_fonts">{{ fontaine.designer }}</td>
    </tr>
    <tr>
      <td class="fixed-col" data-sorting="asc">Designer URL <span class="pull-right"><i class="fa fa-caret-left"></i> <i class="fa fa-caret-right"></i></span></td>
      <td ng-repeat="(font, fontaine) in fontaine_fonts">
        <a href="{{ fontaine.designer_url }}">{{ fontaine.designer_url }}</a>
      </td>
    </tr>
    <tr>
      <td class="fixed-col" data-sorting="asc">Vendor <span class="pull-right"><i class="fa fa-caret-left"></i> <i class="fa fa-caret-right"></i></span></td>
      <td ng-repeat="(font, fontaine) in fontaine_fonts">{{ fontaine.vendor }}</td>
    </tr>
    <tr>
      <td class="fixed-col" data-sorting="asc">Vendor URL <span class="pull-right"><i class="fa fa-caret-left"></i> <i class="fa fa-caret-right"></i></span></td>
      <td ng-repeat="(font, fontaine) in fontaine_fonts">
        <a href="{{ fontaine.vendor_url }}">{{ fontaine.vendor_url }}</a>
      </td>
    </tr>
    <tr>
      <td class="fixed-col" data-sorting="asc">has_fixed_sizes <span class="pull-right"><i class="fa fa-caret-left"></i> <i class="fa fa-caret-right"></i></span></td>
      <td ng-repeat="(font, fontaine) in fontaine_fonts">{{ fontaine.has_fixed_sizes }}</td>
    </tr>
    <tr>
      <td class="fixed-col" data-sorting="asc">is_fixed_width <span class="pull-right"><i class="fa fa-caret-left"></i> <i class="fa fa-caret-right"></i></span></td>
      <td ng-repeat="(font, fontaine) in fontaine_fonts">{{ fontaine.is_fixed_width }}</td>
    </tr>
    <tr>
      <td class="fixed-col" data-sorting="asc">style_flags <span class="pull-right"><i class="fa fa-caret-left"></i> <i class="fa fa-caret-right"></i></span></td>
      <td ng-repeat="(font, fontaine) in fontaine_fonts">{{ fontaine.style_flags }}</td>
    </tr>
    </tbody>
  </table>
</div>

<div class="flex-container">
  <table id="fontCoverageTable" class="table table-dynamic-width table-dynamic-width table-bordered table-striped table-hover table-condensed" apply-sorting>
    <caption><h4>Font Coverage characters</h4></caption>
    <thead>
    <tr>
      <th>Subset</th>
      <th ng-repeat="name in fonts_orthography.fonts_list">{{ name }}</th>
      <th>Average</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="(subset, info) in fonts_orthography.fonts_info">
      <td>{{ subset }}</td>
      <td ng-repeat-start="font_info in info" class="hidden"></td>
      <!--<td data-toggle="modal" data-target="#myModal" class="{{ fontSupportToStyle[font_info.support] }} coverageStats">{{ font_info.coverage }}%</td>-->
      <td data-toggle="modal" data-target="#myModal" class="clickable coverageStats">{{ font_info.coverage }}%</td>
      <td data-subset="{{ subset }}" data-fontname="{{ font_info.name }}" class="missing-chars hidden">
        <div>
          <div ng-if="font_info.coverage != 100">
            <div ng-repeat-start="item in font_info.missing_chars" class="hidden"></div>
            {{ mixins.decodeHtmlEntity("&#"+item+";") }}
            <div ng-repeat-end class="hidden"></div>
          </div>
        </div>
      </td>
      <td ng-repeat-end class="hidden"></td>
      <td data-toggle="modal" data-target="#myModal" class="clickable coverageAverage" update-class condition="true">{{ fonts_orthography.coverage_averages[subset] }}%</td>
    </tr>
    </tbody>
  </table>
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Missing characters</h4>
        <p id="myModalInfo"></p>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
