<!-- dashboard.html -->
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title "Font Bakery Dashboard"></title>
  <link rel="stylesheet" type="text/css" href="/css/dashboard.css" />
</head>
<body>
  <div class="dashboard">
    <h1>Fontbakery Dashboard</h1>
    <div>
      <p>This dashboard monitors the progress status of a selection of font projects.</p>
      <p>Percentages and progress bars below correspond to the ammount of checks from the FontBakery test-suite that are satisfied by the given family. Click on a family to see a detailed report.</p>
      <ul>
        {% for font in prod %}
        {% if font['summary']['Total'] > 0 %}
        <a href="/details/{{ font['familyname'] }}">
          <li>
            <span class="familyname"> {{ font['familyname'] }}</span>
            <small style='text-align:right; margin-left:12px; color:grey'>({{ (100 * font['summary']['OK'] / font['summary']['Total']) | round(2, 'floor') }} %)</small>
            <progress max="{{ font['summary']['Total'] }}" value="{{ font['summary']['OK'] }}" />
          </li>
        </a>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</body>
</html>
