<!-- family_details.html -->
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Font Bakery Dashboard - details for {{ familyname }}</title>
  <link rel="stylesheet" type="text/css" href="/css/family_details.css" />
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
    var _chart_data = {{ chart_data|safe }};
    var _chart_title = '{{ familyname }} check results:';
  </script>
  <script type="text/javascript" src="/js/family_details.js"></script>
  <script type="text/javascript" src="/js/stupidtable.min.js"></script>
</head>
<body onload="init();">
  <div class="details">
    <h1><a href="/">Fontbakery Dashboard</a></h1>
    <h2>Details for {{ familyname }}</h2>
    <a href="/details/{{ familyname }}/errorlog"><small>View full server logs.</small></a>
    <div>
      <div id="piechart"></div>
      <div id="tabs" style="display:hidden">
        <!-- tabs -->
        <ul>{% for font in fonts %}
          <li><a href="#tab-{{ loop.index }}">{{ font['stylename'] }}</a></li>
          {% endfor %}</ul>

        <!-- Tabs content -->
        {% for font in fonts %}
        <div id="tab-{{ loop.index }}">
          <div class="progress_item">
            <span class="familyname">{{ font['fontname'] }}</span><br/>
            <progress max="{{ font['stats']['Total'] }}" value="{{ font['stats']['OK'] }}"></progress>
            <small style='text-align:right; margin-left:12px; color:grey'>({{ font['stats']['OK']*100/font['stats']['Total'] }} %)</small>
          </div>

          <table>
            <thead>
              <th data-sort="string">Result</th>
              <th data-sort="string">Check description</th>
              <th data-sort="string">Log Messages</th>
            </thead>
            <tbody>
              {% for entry in font['results'] %}
              <tr>
                <td>{{ entry.result }}</td>
                <td>{{ entry.description }}</td>
                <td>
                {% for msg in entry.log_messages %}
                  {{ msg }} <br/>
                {% endfor %}
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
        {% endfor %}
      </div>
    </div>
    <a href="/">Return to dashboard...</a>
  </div>
</body>
</html>
