{% extends "misc/base.html" %}
{% set page_title = _('Server error') %}
{% block body %}
    <div id="wrap">
      <div class="container">
        <div class="page-header">
          <h1>{{ _("Error 500") }}</h1>
        </div>
        <p class="lead">{{ _("Error generating page <code>%(url)s</code>. Please fill report on <a href="https://github.com/xen/fontbakery/issues?state=open">project issue tracker</a>.", url=request.url) }}</p>
        <p><a href="/">{{ _("&larr; Back to front page") }}</a></p>
      </div>
      <div id="push"></div>
    </div>
{% endblock %}
