<!-- testsuite.html -->
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Font Bakery Dashboard - Testsuite Statistics</title>
  <style>
#main {
  margin: 0 auto;
  width: 80%;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
}

th, td {
    min-width: 150px;
    padding: 3px 10px !important; 
    border: 1px solid #ddd;
}

table tr:nth-child(even) {
    background: #EEE;
}

table tr:nth-child(odd){
    background: #FFF;
}

.progress-bar {
    height: 15px !important;
}
  </style>
  <link rel="stylesheet"
        href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
  <link rel="stylesheet"
        href="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap-theme.min.css">
  <script src="http://code.jquery.com/jquery.min.js"></script>
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
</head>
<body>
<div id="main">
  <h1><a href="/">Fontbakery Dashboard</a></h1>
  <p>The statistics below correspond to the check results of a total of {{ num_targets }} TTF files from a set of {{ num_families }} families that were checked.</p>
  <table>
    <tr>
      <th>Check description</th>
      <th>Summary</th>
      <th>OK / Total</th>
    </tr>
    {% for check_description, results in checks.iteritems() %}
    <tr>
      <td>{{ check_description }}</td>
      <td>
        <div class="progress-bar progress-bar-success" style="width: {{ 100*results['OK']/results['Total'] }}%"></div>	  
        <div class="progress-bar progress-bar-warning" style="width: {{ 100*results['INFO']/results['Total'] }}%"></div>
        <div class="progress-bar progress-bar-danger" style="width: {{ 100*results['ERROR']/results['Total'] }}%"></div>
      </td>
      <td>
        <small style='text-align:right; margin-left:12px; color:grey'>{{ results['OK'] }} / {{ results['Total'] }}</small>
      </td>
    </tr>
    {% endfor %}
  </table>
  <a href="/">Return to dashboard...</a>
</div>
</body>
</html>
