<!-- under_deployment.html -->
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title "Font Bakery Dashboard"></title>
</head>
<body>
  <div class="dashboard">
    <h1>Fontbakery Dashboard</h1>
    <div>
      <p>This dashboard monitors the progress status of a selection of font projects.</p>
      <b>The webapp database is under deployment. Please wait and <a href="/">reload</a> the main page after a while.</b>
    </div>
  </div>
</body>
</html>
