<!-- dashboard.html -->
<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title "Font Bakery Dashboard"></title>
  <link rel="stylesheet" href="css/dashboard.css" />
</head>
<body>
  <div class="dashboard">
    <h1>Fontbakery Dashboard</h1>
    <div>
      <p>This dashboard monitors the progress status of a selection of font projects.</p>
      <p>Percentages and progress bars below correspond to the ammount of checks from the FontBakery test-suite that are satisfied by the given family. Click on a family to see a detailed report.</p>
      <b>The webapp database is under deployment. Please reload the page after a while.</b>
    </div>
  </div>
</body>
</html>
