{% extends "project/base.html" %}
{% set page_title = _("Project Dashboard Settings") %}

{% block body %}

{% from 'project/macros.html' import nav with context%}
{{ nav('dashboard') }}

{% set config = project.config %}
{% if config['local'].get('status', None) == 'repo' %}
  {% set dis = 'disabled' %}
{% else %}
  {% set dis = '' %}
{% endif %}

<div class="alert alert-info">
  Setup the project's dashboard metadata. Options can be pre-selected by storing them in a <code><a href="{{ url_for('project.bakeryyaml', project_id=project.id ) }}" >bakery.yaml</a></code> file inside the git repository.
</div>

<form id="setup" class="form-horizontal" action="{{ url_for('project.dashboard_save', project_id = project.id)}}" method="POST">
  <div class="control-group">
    <div class="controls">
      <p><strong>Bold</strong> fields are required.</p>
      {% if bakery_yaml_in_sync == false %}<p><a class="btn btn-small">Reload settings from repo</a></p>{% endif %}
    </div>
  </div>

  <div id="familyname" class="control-group">
    <label class="control-label" for="familyname">source_drawing_filetype?</label>
    <div class="controls">
    <input type="text" placeholder="" name="source_drawing_filetype" 
      value="{{ config['state'].get('source_drawing_filetype', '') }}" 
      class="input-xxlarge" {{dis}}>
    <p class="muted">Set value here. Its a description.<br/>Else, leave it blank</p>
    </div>
  </div>

  <div class="control-group">
    <div class="controls">
      <button type="submit" class="btn btn-primary">Save Settings</button>
    </div>
  </div>

</form>

{% endblock %}
