{% extends "project/base.html" %}
{% set page_title = _("Diff") %}

{% block pnav %}
{% from 'project/macros.html' import nav with context%}
{{ nav('upstream') }}
{% endblock %}

{% block pbody %}
{% from 'project/macros.html' import subnav_git with context%}
{{ subnav_git('diff') }}

<h3>Changes between <a href="{{ url_for('project.ufiles', project_id = project.id, revision=left) }}">{{left}}</a> and <a href="{{ url_for('project.ufiles', project_id = project.id, revision=right) }}">{{right}}</a></h3>
{% for f in diff.keys() %}
<h3>{{ f }}</h3>
<pre>{{ diff[f]|safe }}</pre>
{% endfor %}

{% endblock %}

