{% extends "project/base.html" %}
{% set page_title = _("Files") %}

{% block body %}

{% from 'project/macros.html' import nav with context%}
{{ nav('fonts') }}
<h4>{{ _("Incoming Repository") }}</h4>
{% from 'project/macros.html' import filestree with context %}
{{ filestree() }}
{% endblock %}

{% block extrajs %}
<script>
$(document).ready(function() {
  $('.glyphs').hide();
  $('.mother_of_glyphs').click(function() {
    $(this).find('ul').slideToggle();
  });
});
</script>

{% endblock %}
