{% extends "project/base.html" %}
{% set page_title = _("Build specific git revision") %}

{% block pnav %}
{% from 'project/macros.html' import nav with context%}
{{ nav('upstream', full=1) }}
{% endblock %}

{% block pbody %}
<p><a href="{{ url_for('project.checkout', username=project.login, project_id=project.id)}}" class="btn btn-primary">{{ _("Checkout 'HEAD'") }}</a></p>

{% from 'project/macros.html' import subnav_git with context%}
{{ subnav_git('gitlog') }}

<p>{{ _("Select revision and press its hashtag to build. Only latest 200 revisions") }}</p>


<form action="{{ url_for('project.diff', project_id=project.id) }}" method="GET">
<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th><i class="fa fa-exchange"></i></th>
      <th>{{ _("Hashtag") }}</th>
      <th>{{ _("Author")}}</th>
      <th>{{ _("Message") }}</th>
      <th>{{ _("Date") }}</th>
      <th>{{ _("Tests") }}</th>
      <th>{{ _("Checkout Revision") }}</th>
    </tr>
  </thead>
  <tbody>
  {% for item in log %}
    <tr>
      <td>
        <nobr><input type="radio" name="left" value="{{ item['hash'] }}"{% if loop.first %} disabled="disabled"{% endif %}>&nbsp;<input type="radio" name="right" value="{{ item['hash'] }}"{% if loop.last %} disabled="disabled"{% endif %}></nobr>
      </td>
      <td>
        {{ item['hash'] }}
      </td>
      <td>{{item['author']}}</td>
      <td><a href="{{ url_for('project.ufiles', username=project.login, project_id=project.id, revision=item['hash']) }}">{{item['message']|safe}}</a></td>
      <td><a href="{{ url_for('project.ufiles', username=project.login, project_id=project.id, revision=item['hash']) }}">{{item['date']}}</a></td>
      <td><a href="{{ url_for('project.utests', username=project.login, project_id=project.id, revision=item['hash']) }}">{{ _('Tests') }}</a></td>
      {% set revision = item['hash'] | signify %}
      <td><a href="{{ url_for('project.checkout', username=project.login, project_id=project.id, revision=revision) }}">{{ _('Checkout') }}</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>

<div class="bottom-float-block">
<button type="submit" class="btn btn-sm btn-primary">{{ _("Compare revisions") }}</button>
</div>


</form>


{% endblock %}

