{% extends "project/base.html" %}
{% set page_title = _("Build history") %}

{% block pnav %}
{% from 'project/macros.html' import nav with context%}
{{ nav('build') }}
{% endblock %}

{% block pbody %}

<p>
  <a href="{{ url_for('project.build', project_id = project.id)}}" class="btn btn-primary">{{ _("Build 'HEAD'") }}</a>
</p>

<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th style="text-align: center"><i class="fa fa-circle text-muted"></i></th>
      <th>{{ _("Hashtag") }}:{{ _("Build id") }}</th>
      <th>{{ _("Date") }}</th>
      <th>{{ _("Results") }}</th>
    </tr>
  </thead>
  <tbody>
    {% for b in builds -%}
    <tr>
      <td style="text-align: center">
        {% if not b.is_done %}<i class="fa fa-spinner fa-spin text-success" data-toggle="tooltip" rel="tooltip" data-original-title="{{ _('This build is not ready yet') }}"></i>
        {% elif b.modified %}<i class="fa fa-circle text-success" data-toggle="tooltip" rel="tooltip" data-original-title="{{ _('This build was manually modified') }}"></i>
        {% endif %}
      </td>
      <td>
        <a href="{{ url_for('project.log', project_id=b.project.id, build_id=b.id)}}">{{b.revision}}:{{b.id}}</a>
      </td>
      <td>
        {{b.updated}} {% if b.is_done %} <i class="fa fa-check-square-o"></i>{% endif %}
      </td>
      <td>
        {% set data = b.read_rtests_data() %}
        {% set udata = b.read_upstream_tests_data() %}
        <p>In <span class="label label-success">{{ udata.success|length }}</span> / <span class="label label-warning">{{ udata.failure|length }}</span> / <span class="label label-danger">{{ udata.error|length }}</span></p>
        <p>Out <span class="label label-success">{{ data.success|length }}</span> / <span class="label label-warning">{{ data.failure|length }}</span> / <span class="label label-danger">{{ data.error|length }}</span></p>
      </td>
    </tr>
    {% else %}
    <tr>
      <td colspan="4">
        <div class="well">
        <p>{{ _("No recent builds found, select hash from <a href='%(url)s'>git log page</a> or build latest head build.", url=url_for('project.git', project_id=project.id)) }}</p>
        <p class="text-center"><a href="{{ url_for('project.build', project_id = project.id)}}" class="btn btn-primary">{{ _("Build 'HEAD'") }}</a></p>

        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}

