{% extends "project/base.html" %}
{% set page_title = _("Build history") %}

{% block pnav %}
{% from 'project/macros.html' import nav with context%}
{{ nav('build') }}
{% endblock %}

{% block pbody %}

<p>
  {% set build = project.latest_build() %}
  {% if build and build.succeeded %}<a class="btn btn-primary" href="{{ url_for('project.zip', username=project.login, project_id=project.id, build_id=build.id) }}">Download</a>{% endif %}
</p>

<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th style="text-align: center" rowspan="2"><i class="fa fa-circle text-muted"></i></th>
      <th rowspan="2">{{ _("Hashtag") }}:{{ _("Build id") }}</th>
      <th rowspan="2">{{ _("Date") }}</th>
      <th colspan="4">{{ _("Upstream") }}</th>
      <th colspan="4">{{ _("Results") }}</th>
      <th>{{ _("Download") }}</th>
    </tr>
    <tr>
      <th>Success</th>
      <th>Failure</th>
      <th>Error</th>
      <th>Details</th>
      <th>Success</th>
      <th>Failure</th>
      <th>Error</th>
      <th>Details</th>
    </tr>
  </thead>
  <tbody>
    {% for b in builds -%}
    <tr>
      <td style="text-align: center">
        {% if not b.is_done %}<i class="fa fa-spinner fa-spin text-success" data-toggle="tooltip" rel="tooltip" data-original-title="{{ _('This build is not ready yet') }}"></i>
        {% elif b.modified %}<i class="fa fa-circle text-success" data-toggle="tooltip" rel="tooltip" data-original-title="{{ _('This build was manually modified') }}"></i>
        {% elif b.succeeded %}<i class="fa fa-circle text-success" data-toggle="tooltip" rel="tooltip" data-original-title="{{ _('Success') }}"></i>
        {% else %}<i class="fa fa-circle text-danger" data-toggle="tooltip" rel="tooltip" data-original-title="{{ _('Failed') }}"></i>
        {% endif %}
      </td>
      <td>
        <a href="{{ url_for('project.summary', username=project.login, project_id=b.project_id, build_id=b.id) }}">{{ b.revision }}:{{ b.id }}</a>
      </td>
      <td>
        {{b.updated}} {% if b.is_done %} <i class="fa fa-check-square-o"></i>{% endif %}
      </td>
      {% set udata = b.read_upstream_tests_data() %}
      {% set total = udata.success|length + udata.failure|length + udata.error|length %}
      {% if total %}
      <td class="success">{{ (udata.success|length * 100 / total)|int }}% ({{ udata.success|length }})</td>
      <td class="warning">{{ (udata.failure|length * 100 / total)|int }}% ({{ udata.failure|length }})</td>
      <td class="danger">{{ (udata.error|length * 100 / total)|int }}% ({{ udata.error|length }})</td>
      <td><a href="{{ url_for('project.utests', username=project.login, project_id=b.project_id, revision=b.revision) }}"> <i class="fa fa-file-text-o"> </i> </a></td>
      {% else %}
      <td colspan="4"></td>
      {% endif %}
      {% set data = b.read_rtests_data() %}
      {% set total = data.success|length + data.failure|length + data.error|length %}
      {% if total %}
      <td class="success">{{ (data.success|length * 100 / total)|int }}% ({{ data.success|length }})</td>
      <td class="warning">{{ (data.failure|length * 100 / total)|int }}% ({{ data.failure|length }})</td>
      <td class="danger">{{ (data.error|length * 100 / total)|int }}% ({{ data.error|length }})</td>
      <td>{% if b.is_done %}<a href="{{ url_for('project.rtests', username=project.login, project_id=b.project_id, build_id=b.id) }}"> <i class="fa fa-file-text-o"></i> </a>{% endif %}</td>
      {% else %}
      <td colspan="4"></td>
      {% endif %}
      <td>{% if b.succeeded %}<a href="{{ url_for('project.zip', username=project.login, project_id=b.project_id, build_id=b.id) }}"> <i class="fa fa-download"></i> </a>{% endif %}</td>
    </tr>
    {% else %}
    <tr>
      <td colspan="4">
        <div class="well">
        <p>{{ _("No recent builds found, select hash from <a href='%(url)s'>git log page</a> or build latest head build.", url=url_for('project.git', username=project.login, project_id=project.id)) }}</p>
        <p class="text-center"><a href="{{ url_for('project.build', username=project.login, project_id = project.id)}}" class="btn btn-primary">{{ _("Build 'HEAD'") }}</a></p>

        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}

