{% extends "project/base.html" %}
{% set page_title = _("Build history") %}

{% block pnav %}
{% from 'project/macros.html' import nav with context%}
{{ nav('history', full=1) }}
{% endblock %}


{% block pbody %}
<p>
  <a href="{{ url_for('project.bump', project_id = project.id)}}" class="btn btn-primary">Build 'HEAD'</a>
</p>

<table class="table table-bordered table-condensed">
  <thead>
    <tr>
      <th>{{ _("Hashtag") }}:{{ _("Build id") }}</th>
      <th>{{ _("Date") }}</th>
      <th>{{ _("Results") }}</th>
    </tr>
  </thead>
  <tbody>
    {% for b in builds -%}
    <tr>
      <td>
        <a href="{{ url_for('project.log', project_id=b.project.id, build_id=b.id)}}">{{b.revision}}:{{b.id}}</a>
      </td>
      <td>
        {{b.updated}} {% if b.is_done %} <i class="icon-check"></i>{% endif %}
      </td>
      <td>
        In 10/0/20, Out 1/0/50
      </td>
    </tr>
    {% else %}
    <tr>
      <td colspan="3">
        <div class="well">
        <p>No recent builds found, select hash from <a href="{{ url_for('project.git', project_id=project.id)}}">git log page</a> or build latest head build.</p>
        <p class="text-center"><a href="{{ url_for('project.bump', project_id = project.id)}}" class="btn btn-primary">Build 'HEAD'</a></p>

        </div>
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}

