{% extends "project/base.html" %}
{% set page_title = _("Repo License") %}

{% block body %}
<h5>{{ project.clone }} <a class="pull-right" href="{{ url_for('project.bump', project_id = project.id )}}" data-confirm="Are you sure you want to pull from the upstream git repository?"><button class="btn btn-small" type="button"><i class="icon-chevron-up"></i> Pull from upstream</button></a></h5>
<h2>{{ _("License File") }}</h2>

{% from 'project/macros.html' import nav with context%}
{{ nav('license') }}
<div class="alert alert-info">The license file should only be edited by the copyright holders.</div>
<pre>{{ license }}</pre>
{% endblock %}
