{% extends "project/base.html" %}
{% set page_title = _("Project License") %}

{% block body %}
<div class="span9">
    <h2>{{ _("License for ") }} {{ project.clone }}</h2>

    <ul class="nav nav-tabs">
      <li><a href="{{ url_for('project.fonts', project_id=project.id)}}">Fonts</a></li>
      <li class="active"><a href="{{ url_for('project.plicense', project_id=project.id )}}" >License</a></li>
      <li class="pull-right"><a href="{{ url_for('project.bump', project_id = project.id )}}" data-confirm="Update from git repository?"><i class="icon-chevron-up"></i> Update</a></li>
      <li class="pull-right"><a href="{{ url_for('project.setup', project_id = project.id )}}"><i class="icon-cog"></i> Setup</a></li>

    </ul>
    <pre>{{ license }}</pre>

</div>
{% endblock %}
