{% extends "project/base.html" %}
{% set page_title = _("Bake Progress Log") %}

{% block body %}

{% from 'project/macros.html' import nav with context%}
{{ nav('log') }}

<pre id="log"></pre>

<p><a href="javascript:window.scrollTo(0,0);">Top of page</a></p>
{% endblock %}


{% block extrajs %}
<script type="text/javascript">
/* fast analog of python .startswith string type method function */
if (typeof String.prototype.startswith != 'function') {
  String.prototype.startswith = function (str){
    if (str === '') return true;
    if (this == null || str == null) return false;
    return this.length >= str.length && this.slice(0, str.length) === str;
  };
}

$(document).ready(function () {

var $log = $('#log');
var socket = io.connect("/build", {'force new connection': true});

socket.on("connect", function(e) {
  console.log("Connected", arguments);
  socket.emit('subscribe', '{{ [project.login, project.id]|join('/')|signify }}');
});

socket.on("disconnect", function(e) {
  console.log("Disconnected", arguments);
});

socket.on('message', function (data) {
  var data = String(data);
         if (data.startswith('Header: ')){
    $log.append($('<h4>').html(data.slice('Header: '.length)));
  } else if (data.startswith('Error: ')){
    $log.append($('<span>').addClass('text-error').html(data.slice('Error: '.length)));
  } else if (data.startswith('Fatal: ')){
    $log.append($('<span>').addClass('text-error').html('<span class="label label-important">Fatal</span> ' + data.slice('Fatal: '.length)));
  } else if (data.startswith('Start: ')){
    $log.append($('<span>').addClass('text-success').html('<span class="label label-success">Start</span> ' + data.slice('Start: '.length)));
  } else if (data.startswith('End: ')){
    $log.append($('<span>').addClass('text-success').html('<span class="label label-success">End</span> ' + data.slice('End: '.length)));
  } else if (data.startswith('Command: ')){
    $log.append($('<span>').addClass('text-info').html("$ " + data.slice('Command: '.length)));
  } else {
    $log.append($('<span>').html(data));
  }
  // scroll to the bottom of the page
  $(document).scrollTop($(document).height());
});

  // but keep the nav() on top
  $('#secondaryNav').css({
       'position': 'fixed',
       'left': '11%',
       'right': '11%',
       'background': 'white',
       'width': 'auto'
      });
});
</script>
{% endblock %}
