{% extends "project/base.html" %}
{% set page_title = _("Processing ") + project.title %}

{% block body %}

{% from 'project/macros.html' import nav with context%}
{{ nav('log') }}

<pre id="log"></pre>

<form id="logEndButtons" class="form-horizontal" action="{{ url_for('project.setup', project_id = project.id)}}" method="POST">
<input id="logEndButtonRebake" name="bake" value="Bake Again" type="submit" class="btn btn-primary pull-right" />
<div id="logEndButtonSuccess" class="btn-group">
<a href="{{ url_for('project.utests',       project_id=project.id) }}" class="btn">Upstream Tests</a>
<a href="{{ url_for('project.ufiles',       project_id=project.id) }}" class="btn">Upstream Files</a>
<a href="{{ url_for('project.setup',        project_id=project.id) }}" class="btn">Setup</a>
{% if project.config['local'].get('setup', None) %}
<a href="{{ url_for('project.rtests',       project_id=project.id) }}" class="btn">Result Tests</a>
<a href="{{ url_for('project.rfiles',       project_id=project.id) }}" class="btn">Result Files</a>
<a href="{{ url_for('project.metadatajson', project_id=project.id) }}" class="btn">Edit METADATA</a>
<a href="{{ url_for('project.description',  project_id=project.id) }}" class="btn">Edit DESCRIPTION</a>
{% endif %}
</div>
</form>

<p class="jumbotron" id="toTop"><a href="javascript:window.scrollTo(0,0);">Top of page</a></p>

{% endblock %}


{% block extrajs %}
<script type="text/javascript">
/* fast analog of python .startswith string type method function */
if (typeof String.prototype.startswith != 'function') {
  String.prototype.startswith = function (str){
    if (str === '') return true;
    if (this == null || str == null) return false;
    return this.length >= str.length && this.slice(0, str.length) === str;
  };
}

$(document).ready(function () {

$('#secondaryNav').affix({
    offset: 0
    });

$('#logEndButtons').hide();
$('#logEndButtonRebake').hide();
$('#logEndButtonSuccess').hide();

var socket = io.connect("/build", {'force new connection': true});

socket.on("connect", function(e) {
  console.log("Connected", arguments);
  socket.emit('subscribe', '{{ [project.login, project.id]|join('/')|signify }}');
});

socket.on("disconnect", function(e) {
  console.log("Disconnected", arguments);
});

socket.on('message', function (logs) {
    var logString = String(logs);
//  console.log(logString);
    var lines = logString.match(/^.*((\r\n|\n|\r)|$)/gm);
//  console.log(lines);
    lines.forEach( function(data) {
//      console.log(data);
    if (data.startswith('Header: ')) {
        $('#log').append($('<h4>').addClass('text-header').html(data.slice('Header: '.length)));
    } else if (data.startswith('Error: ')) {
        $('#log').append($('<span>').addClass('text-error').html(data.slice('Error: '.length)));
    } else if (data.startswith('Fatal: ')) {
        $('#log').append($('<span>').addClass('text-error').html('<span class="label label-important">Fatal</span> ' + data.slice('Fatal: '.length)));
        $('#logEndButtonRebake').show();
        $('#logEndButtons').slideDown();
    } else if (data.startswith('Start: ')){
        $('#log').append($('<span>').addClass('text-success').html('<span class="label label-success">Start</span> ' + data.slice('Start: '.length)));
    } else if (data.startswith('End: ')){
        $('#log').append($('<span>').addClass('text-success').html('<span class="label label-success label-end">End</span> ' + data.slice('End: '.length)));
        $('#logEndButtonSuccess').show();
        $('#logEndButtons').slideDown();
    }  else if (data.startswith('End: ')){
        $('#log').append($('<span>').addClass('text-success').html('<span class="label label-success label-end">End</span> ' + data.slice('End: '.length)));
        $('#logEndButtonSuccess').show();
        $('#logEndButtons').slideDown();
    }  else if (data.startswith('Command: ')){
        $('#log').append($('<span>').addClass('text-command').html("$ " + data.slice('Command: '.length)));
    }  else {
        $('#log').append($('<span>').addClass('text-info').html(data));
    };
  });
});

function userCanSeeItWithoutScrolling() {
    var userCanSeeItWithoutScrolling = $("#toTop").offset().top < $(window).height();
    if (userCanSeeItWithoutScrolling == true){
        $('#toTop').hide();
    } else {
        $('#toTop').show();
    };
};

// hide toTop if user can see it without scrolling
userCanSeeItWithoutScrolling();

// If the page resizes, show toTop if user now can't see it
$(window).resize(function() {
    userCanSeeItWithoutScrolling();
});
// If the page scrolls, show toTop if user now can't see it
$(window).scroll(function() {
    userCanSeeItWithoutScrolling();
});

});
</script>
{% endblock %}
