{% extends "project/base.html" %}
{% set page_title = _("Result Files") %}

{% block pnav %}
{% from 'project/macros.html' import nav with context%}
{{ nav('build') }}
{% endblock %}

{% block pbody %}

{% from 'project/macros.html' import subnav_build with context%}
{{ subnav_build('rfiles') }}

{% for fontaine in fontaineFonts %}
    <h4 class="toggle"><i class="fa"></i> {{ fontaine._full_name }}</h4>
    <div>
    <table class="table table-striped table-bordered table-condensed tablesorter" id="" style="">
    <thead>
      <tr>
        <th width='20%'>{{ _("Character Set") }}</th>
        <th>{{ _("Coverage") }}</th>
        <th>{{ _("Missing Characters") }}</th>
      </tr>
    </thead>
    <tbody>
    {% for charmap, support, missing, missingchars in fontaine.get_orthographies() %}
      <tr class="{{ support | replace('full','success') | replace('partial','info') | replace('fragmentary','warning') | replace('unsupported','error') }}">
        <td>{{ charmap.common_name }}
        <td>{{ missing }}
        <td>{% for item in missingchars %}<span style="float:left; width:1em; height:1em"> &#{{item}}; </span>{% endfor %}
      </tr>
    {% endfor %}
    </tbody>
    </table>

    <dl class="" style="columns:100px 3; -webkit-columns:100px 3; /* Safari and Chrome */ -moz-columns:100px 3; /* Firefox */">
        <dt>{{ _("Common Name") }}</dt>
        <dd>{{ fontaine.common_name }}</dd>
        <dt>{{ _("Full Name") }}</dt>
        <dd>{{ fontaine._full_name }}</dd>
        <dt>{{ _("PostScript Name") }}</dt>
        <dd>{{ fontaine._postscript }}    </dd>
        <dt>{{ _("Subfamily") }}</dt>
        <dd>{{ fontaine.sub_family }}     </dd>
        <dt>{{ _("Weight") }}</dt>
        <dd>{{ fontaine.weight }}         </dd>
        <dt>{{ _("Version") }}</dt>
        <dd>{{ fontaine.version }}        </dd>
        <dt>{{ _("UniqueID") }}</dt>
        <dd>{{ fontaine._unique_id }}     </dd>
        <dt>{{ _("Copyright") }}</dt>
        <dd>{{ fontaine.copyright }}      </dd>
        <dt>{{ _("License") }}</dt>
        <dd>{{ fontaine.license }}        </dd>
        <dt>{{ _("License URL") }}</dt>
        <dd><a href="{{ fontaine.license_url }}">{{ fontaine.license_url }}</a></dd>
        <dt>{{ _("Designer") }}</dt>
        <dd>{{ fontaine.designer }}       </dd>
        <dt>{{ _("Designer URL") }}</dt>
        <dd><a href="{{ fontaine.designer_url }}">{{ fontaine.designer_url }}</a></dd>
        <dt>{{ _("Vendor") }}</dt>
        <dd>{{ fontaine.vendor }}         </dd>
        <dd><a href="{{ fontaine.vendor_url }}">{{ fontaine.vendor_url }}</a></dd>
        <dt>{{ _("has_fixed_sizes") }}</dt>
        <dd>{{ fontaine.has_fixed_sizes }}</dd>
        <dt>{{ _("is_fixed_width") }}</dt>
        <dd>{{ fontaine.is_fixed_width }} </dd>
        <dt>{{ _("style_flags") }}</dt>
        <dd>{{ fontaine.style_flags }}    </dd>
    </dl>
    </div>

{% endfor %}

<h4>{{ _("bakery.yaml File") }}</h4>
{% if project.config['local'].get('bakery_yaml_in_sync', None) %}
  <div class="alert alert-info">{{ _("Your setup is saved in the upstream repository, in a <code><a href='%(url)s'>bakery.yaml</a></code> file, displayed below.", url=url_for('project.rfiles', project_id=project.id)) }}</div>
{% else %}
  <div class="alert alert-block">{{ _("Your setup is <strong>NOT</strong> saved in the upstream repository.<br><br>To save your setup for all Font Bakery installations to load, add a file named <code><a href='%(url)s'>bakery.yaml</a></code> to the upstream repository that contains the following information.", url=url_for('project.rfiles', project_id=project.id, build_id=build.id )) }}</div>
{% endif %}

<div id="editor"></div>
<textarea name="yaml">{{ yaml }}</textarea>

<h4>{{ _("Baked Files") }}</h4>
{% from 'project/macros.html' import filestree with context %}
{{ filestree(tree) }}

{% endblock %}

{% block extrajs %}
<script>
$(document).ready(function() {
var editor = ace.edit("editor");
editor.setTheme("ace/theme/solarized_light");
editor.getSession().setMode("ace/mode/yaml");
editor.getSession().setUseSoftTabs(true);
editor.setHighlightActiveLine(false);

// var textarea = $('textarea[name="yaml"]');
var textarea = $('textarea[name="yaml"]').hide();
editor.getSession().setUseWrapMode(true);
editor.getSession().setValue(textarea.val());
editor.setReadOnly(true);

// From https://gist.github.com/hostilefork/6325151 & http://stackoverflow.com/questions/11584061/
var heightUpdateFunction = function() {
    var newHeight =
              editor.getSession().getScreenLength()
              * editor.renderer.lineHeight
              + editor.renderer.scrollBar.getWidth();
    $('#editor').height(newHeight.toString() + "px");
    $('#editor-section').height(newHeight.toString() + "px");
    // This call is required for the editor to fix all of its inner structure for adapting to a change in size
    editor.resize();
};
// Set initial size to match initial content
heightUpdateFunction();
// Whenever a change happens inside the ACE editor, update the size again
editor.getSession().on('change', heightUpdateFunction);
// End

// call the tablesorter plugin
$(".tablesorter").tablesorter({
    // sort on the 2nd column and order desc
    sortList: [[1,1]]
});

});
</script>
{% endblock %}
