{% extends "project/base.html" %}
{% set page_title = _("View bakery.yaml") %}

{% block body %}

{% from 'project/macros.html' import nav with context%}
{{ nav('yaml') }}

<h4>{{ _("bakery.yaml File") }}</h4>
{% if project.config['local'].get('bakery_yaml_in_sync', None) %}
  <div class="alert alert-info">Your setup is saved in the upstream repository, in a <code><a href="{{ url_for('project.rfiles', project_id=project.id ) }}" >bakery.yaml</a></code> file, displayed below.</div>
{% else %}
  <div class="alert alert-block">Your setup is <strong>NOT</strong> saved in the upstream repository.<br><br>To save your setup for all Font Bakery installations to load, add a file named <code><a href="{{ url_for('project.rfiles', project_id=project.id ) }}" >bakery.yaml</a></code> to the upstream repository that contains the following information.</div>
{% endif %}

<div id="editor"></div>
<textarea name="yaml">{{ yaml }}</textarea>

<h4>{{ _("Repository Files") }}</h4>
{% from 'project/macros.html' import filestree with context %}
{{ filestree('out') }}

{% endblock %}

{% block extrajs %}
<script src="{{ url_for('static', filename='ace/ace-builds-master/src-noconflict/ace.js') }}" type="text/javascript" charset="utf-8"></script>
<script>
var editor = ace.edit("editor");
editor.setTheme("ace/theme/solarized_light");
editor.getSession().setMode("ace/mode/yaml");
editor.getSession().setUseSoftTabs(true);
editor.setHighlightActiveLine(false);

// var textarea = $('textarea[name="yaml"]');
var textarea = $('textarea[name="yaml"]').hide();
editor.getSession().setUseWrapMode(true);
editor.getSession().setValue(textarea.val());
editor.setReadOnly(true);

// From https://gist.github.com/hostilefork/6325151 & http://stackoverflow.com/questions/11584061/
var heightUpdateFunction = function() {
    var newHeight =
              editor.getSession().getScreenLength()
              * editor.renderer.lineHeight
              + editor.renderer.scrollBar.getWidth();
    $('#editor').height(newHeight.toString() + "px");
    $('#editor-section').height(newHeight.toString() + "px");
    // This call is required for the editor to fix all of its inner structure for adapting to a change in size
    editor.resize();
};
// Set initial size to match initial content
heightUpdateFunction();
// Whenever a change happens inside the ACE editor, update the size again
editor.getSession().on('change', heightUpdateFunction);
// End

</script>
{% endblock %}
