{% extends "project/base.html" %}
{% set page_title = _("Setup Project") %}
{% set config = project.config %}

{% block pnav %}
{% from 'project/macros.html' import nav with context%}
{{ nav('setup') }}
{% endblock %}

{% block pbody %}
{% from 'project/macros.html' import subnav_setup with context%}
{{ subnav_setup('setup') }}

<h3>{{ _("Bake Process Options") }}</h3>

{% if config['state'].notes %}<div class="alert alert-warning"><p>Note: {{ config['state'].notes }}</p></div>{% endif %}

<div class="alert alert-info">
{{ _("Setup the project's bake process. Options can be pre-selected by storing them in a <code>bakery.yaml</code> file inside the git repository.") }}
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12 col-xs-12">

<form id="setup" class="form-horizontal" action="{{ url_for('project.setup', project_id = project.id)}}" method="POST" role="form">
  <div class="form-group  anchorUnderNavbar">
    <div class="col-sm-offset-2 col-sm-8">
      <div class="form-control-static">
        <p>{{ _("<strong>Bold</strong> fields are required.") }}</p>
        {% if bakery_yaml_in_sync == false %}<p><a class="btn btn-sm">{{ _("Reload settings from repo") }}</a></p>{% endif %}
      </div>
    </div>
  </div>

  <div class="form-group  anchorUnderNavbar">
    <label class="control-label col-sm-2" for="license_file"><strong>{{ _("License File:") }}</strong></label>
    <div class="col-sm-8">
    <select for="license_file" name="license_file" class="form-control" required>
      <option>{{ _("Select file") }}</option>
      {% for i in config['local']['txt_files'] %}
      <option {% if config['state']['license_file']==i %}selected="selected"{% endif %} >{{ i }}</option>
      {% endfor %}
    </select>
    </div>
  </div>

  <div class="form-group  anchorUnderNavbar">
    <div class="form-control-static">
      <label class="control-label col-sm-2" for="process_files"><strong>{{ _("Process Files:") }}</strong></label>
      <div class="col-sm-8">
      <p class="form-control-static">{{ _("Found source files, please select files that should be processed. Data is actual for current revision '%(revision)s'", revision=project.current_revision()) }}</p>
      <select multiple class="form-control" name="process_files" size={{ config['local']['ufo_dirs']|length + config['local']['ttx_files']|length}}>
        {% with %}
        {% set passed = [] %} {# project.passed_tests_files() #}
        {% for i in config['local']['ufo_dirs'] + config['local']['ttx_files'] + config['local']['bin_files'] + config['local'].get('sfd_files', []) %}
        <option {% if False %}disabled{% else %}selected{% endif %}>{{ i }} {% if False %}(not passed required tests){% endif %}</option> {# i not in passed #}
        {% endfor %}
        {% endwith %}
      </select>
      </div>

    </div>
  </div>

  <div class="form-group  anchorUnderNavbar">
    <label class="control-label col-sm-2" for="subset"><strong>{{ _("Subsets:") }}</strong></label>
    <div class="col-sm-8">
      {% set subsetvals = project.get_subsets() %}
      <table class="table">
        <tbody>
          {% for subset_name, percentage in subsetvals %}
          <tr>
            <td>{{ subset_name }}</td>
            <td>{{ percentage }}%</td>
            <td><input type="checkbox" value="{{ subset_name }}" name="subset"{% if subset_name in config['state']['subset'] %} checked="checked"{% endif %}></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

  <div class="form-group  anchorUnderNavbar">
    <label class="control-label col-sm-2" for="txt_files">{{ _("Text Files:") }}</label>
    <div class="col-sm-8">
    <select for="txt_files" multiple="multiple" name="txt_files" class="form-control"
        size="{{ config['local']['txt_files']|length }}">
      {% for i in config['local']['txt_files'] %}
      <option {% if i in config['state']['txt_files_copied'] %}selected="selected"{% endif %} >{{ i }}</option>
      {% endfor %}
    </select>
    </div>
  </div>

  <div id="familyname" class="form-group ">
    <label class="control-label col-sm-2" for="familyname">{{ _("New font family name?") }}</label>
    <div class="col-sm-8">
    <input type="text" placeholder="" name="familyname"
      value="{{ config['state'].get('familyname', '') }}"
      class="form-control" >
    <p class="text-muted">{{ _("If you want to rename the family, type the new family name here.<br/>Else, leave it blank") }}</p>
    </div>
  </div>

  <div class="form-group anchorUnderNavbar">
    <label class="control-label col-sm-2" for="ttfautohint">{{ _("<code>ttfautohint</code> options?") }}</label>
    <div class="col-sm-8">
    <input type="text" placeholder="" name="ttfautohint"
      value="{{ config['state'].get('ttfautohint', '') }}"
      class="form-control" >
    <p class="text-muted">{{ _("If you wish to bake the TTFs with ttfautohint, type the command line options here.<br/>Else, leave it blank") }}</p>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-8">
      <input id="bake" name="bake" value="{{ _('Save &amp; Bake') }}" type="submit" class="btn btn-primary" {% if not config['local']['setup'] %} data-confirm="{{ _('Do you have permission to use the fonts names as presented to the user in modified versions?') }}" data-title="{{ _('Are you sure?') }}"{% endif %} />
      <input id="save" name="save" value="Save" type="submit" class="btn" />
    </div>
  </div>


</form>
</div>
</div>
</div>

{% set stateDict = {
    'rfn_permission': {
        'yes': 'Y',
        'no': 'N',
        },
    'prints_ok': {
        'yes': 'Y',
        'no': 'N',
        },
    'source_drawing_filetype': {
        'None': 'No source file possible',
        'UFO': 'UFO',
        'SFD': 'SFD (FontForge)',
        'VFB': 'VFB (FontLab)',
        'glyphs': 'Glyphs',
        },
    'source_ttf_filetype': {
        'None': 'No source file possible',
        'OTF': 'OTF',
        'UFO': 'UFO',
        'SFD': 'SFD (FontForge)',
        'VFB': 'VFB (FontLab)',
        'glyphs': 'Glyphs',
    },
    'price_design_usd': {
        'text': 'free',
        },
    'price_total_usd': {
        'text': 'free',
        },
    'vendor_category': {
        '1': '1',
        '2': '2',
        '3': '3',
        },
    'hinting_level': {
        '1': '1',
        '2': '2',
        '3': '3',
        '4': '4',
        '5': '5',
        },
    'vendor_quality': {
        '1': '1',
        '2': '2',
        '3': '3',
        '4': '4',
        '5': '5',
        },
    'design_quality': {
        '1': '1',
        '2': '2',
        '3': '3',
        '4': '4',
        '5': '5',
        },
    'hinting_quality': {
        '1': '1',
        '2': '2',
        '3': '3',
        '4': '4',
        '5': '5',
        },
    'stats_family_name': {
        'text': 'free',
        },
    'design_category': {
        'sans': 'Sans',
        'serif': 'Serif',
        'script': 'Script',
        'display': 'Display',
        },
    } %}

<h3>{{ _("Dashboard Status") }}</h3>

{% if project.config['local'].get('bakery_yaml_in_sync', None) %}
    <div class="alert alert-info">{{ _("Setup the project's dashboard metadata. Options can be pre-selected by storing them in a <code>bakery.yaml</code> file inside the git repository.") }}</div>
{% else %}
    <div class="alert alert-block">{{ _("These details are <strong>NOT</strong> yet saved in the upstream repository. To save your setup for all Font Bakery installations to load, add a file named <code>bakery.yaml</code> to the upstream repository that contains the following information.") }}</div>
{% endif %}

<form id="setup" class="form-horizontal" action="{{ url_for('project.dashboard_save', project_id = project.id)}}" method="POST">
    {% for item, value in stateDict.iteritems() | sort %}
    <div id="{{ item }}" class="form-group ">
      <label class="control-label col-sm-3" for="{{ item }}">{{ item }}:</label>
      <div class="col-sm-7">
          {% if item == 'trademark_permission' %}
            <select name="{{ item }}" class="form-control">
              <option value="">{{ _("Select trademark permission status") }}</option>
              <option value="yes" {% if config['state'][item] == 'yes' %}selected="selected"{% endif %}>{{ _("Yes") }}</option>
              <option value="no" {% if config['state'][item] == 'no' %}selected="selected"{% endif %}>{{ _("No") }}</option>
            </select>
            <p class="text-muted">{{ _("Do you have permission to use the trademark?") }}</p>
          {% elif value['text'] == "free" %}
            <input type="text" placeholder="" name="{{ item }}"
                value="{{ config['state'][item] }}"
                class="form-control" >
            <p class="text-muted">{{ _("Set string value here, or leave it blank to unset it") }}</p>
          {% else %}
              {% for option, description in value.iteritems() %}
                <label class="radio inline ">
                  <input type="radio" name="{{ item }}" value="{{ option }}" {% if config['state'][item] == option %}checked="checked"{% endif %} /> {{ description }}
                </label>
              {% endfor %}
          {% endif %}
      </div>
    </div>
    {% endfor %}

  <div class="form-group">
    <div class="col-sm-offset-3 col-sm-7">
        <button type="submit" class="btn btn-primary">{{ _("Save") }}</button>
    </div>
  </div>

</form>


{% endblock %}


{% block extrajs %}
<script>
$(document).ready(function() {
  $('button[data-confirm]').click(function(ev) {
    var form = $(this).closest('form');

    if (!$('#dataConfirmModal').length) {
        $('body').append('<div id="dataConfirmModal" class="modal" role="dialog" aria-labelledby="dataConfirmLabel" aria-hidden="true"><div class="modal-header"><h3 id="dataConfirmLabel">{{ _("RFN Permission") }}</h3></div><div class="modal-body"></div><div class="modal-footer"><button class="btn pull-left" data-dismiss="modal" aria-hidden="true">{{ _("Cancel") }}</button><a class="btn btn-success" id="dataConfirmYes">{{ _("Yes") }}</a><a class="btn btn-danger" id="dataConfirmNo">{{ _("No") }}</a></div></div>');
    }

    $('#dataConfirmModal').find('.modal-body').text($(this).attr('data-confirm'));
    $('#dataConfirmModal').modal({show:true});

    $('#dataConfirmYes').click(function(ev){
        form.submit();
    });

    $('#dataConfirmNo').click(function(ev){
      $('#dataConfirmModal').modal('hide');
          if (!$('#dataComplyModal').length) {
        $('body').append('<div id="dataComplyModal" class="modal" role="dialog" aria-labelledby="ariaComplyLabel" aria-hidden="true"><div class="modal-header"><h3 id="dataComplyLabel">{{ _("RFN Permission") }}</h3></div><div class="modal-body">{{ _("You must get written permission from the copyright holder to use their name, or set a new family name on this page.") }}</div><div class="modal-footer"><a class="btn btn-success" id="dataComplyYes" data-dismiss="modal" aria-hidden="true">{{ _("I understand") }}</a></div></div>');
      }
      $('#dataComplyModal').modal({show:true});
    });

    return false;
  });
});
</script>
{% endblock %}
