{% extends "project/base.html" %}
{% set page_title = _("Project setup") %}

{% block body %}
<div class="span9">
    <h2>{{ _("Setup for:") }} {{ project.clone }}</h2>

    {% from 'project/macros.html' import nav with context%}
    {{ nav('setup') }}

    <form class="form-horizontal" action="{{ url_for('project.setup', project_id = project.id)}}" method="POST">
      <div class="control-group">
        <label class="control-label" for="license_file">License file</label>
        <div class="controls">
        <select for="license_file" name="license_file" class="input-xxlarge">
          <option>Select file</option>
          {% for i in state['txt_files'] %}
          <option {% if state['license_file']==i %}selected="selected"{% endif %} >{{ i }}</option>
          {% endfor %}
        </select>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="ufo_folders">Ufo folders</label>
        <div class="controls">
        <select for="ufo_folders" multiple="multiple" name="ufo_dirs" class="input-xxlarge" size="{{ state['ufo_dirs']|length }}">
          {% for i in state['ufo_dirs'] %}
          <option {% if i in state['out_ufo'].keys() %}selected="selected"{% endif %}>{{ i }}</option>
          {% endfor %}
        </select>
        </div>
      </div>

      <div class="control-group">
        <label class="control-label" for="subset">Subset checks</label>
        <div class="controls">
        <select for="subset" multiple="multiple" name="subset" class="input-xxlarge" size="{{ subsetvals|length }}">
          {% for i in subsetvals %}
          <option {% if i in state['subset'] %}selected="selected"{% endif %}>{{ i }}</option>
          {% endfor %}
        </select>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
        <label class="radio">
          <input type="radio" name="rename" id="optionsRadios1" value="no" {% if not state['rename'] %}checked{% endif %}>
          Use the same font names?
        </label>
        <label class="radio">
          <input type="radio" name="rename" id="optionsRadios2" value="yes" {% if state['rename'] %}checked{% endif %}>
          I want to define new names?
        </label>
        </div>
      </div>

      <div class="control-group">
        <div class="controls">
        <label class="radio">
          <input type="radio" name="ttfautohintuse" id="optionsRadios1" value="no" {% if not state['ttfautohintuse'] %}checked{% endif %}>
          Don't use <code>ttfautohint</code> processing
        </label>
        <label class="radio">
          <input type="radio" name="ttfautohintuse" id="optionsRadios2" value="yes" {% if state['ttfautohintuse'] %}checked{% endif %}>
          I need <code>ttfautohint</code> 
        </label>
        </div>
      </div>


      <div class="control-group">
        <label class="control-label" for="ttfautohint"><code>ttfautohint</code> params</label>
        <div class="controls">
        <input type="text" placeholder="Type new params…" name="ttfautohint" {% if state.has_key('ttfautohint') %}value="{{ state['ttfautohint'] }}"{% endif %} class="input-xxlarge">
        </div>
      </div>


      <div class="control-group">
        <div class="controls">
          <input type="hidden" name="step" value="2"> 
          <button type="submit" class="btn">Submit</button>
        </div>
      </div>
    </form>

</div>
{% endblock %}
