{% extends "project/base.html" %}
{% set page_title = _("Setup Repository") %}

{% block body %}
<h5>{{ project.clone }} <a class="pull-right" href="{{ url_for('project.bump', project_id = project.id )}}" data-confirm="Are you sure you want to pull from the upstream git repository?"><button class="btn btn-small" type="button"><i class="icon-chevron-up"></i> Pull from upstream</button></a></h5>
<h2>{{ page_title }}</h2>

{% from 'project/macros.html' import nav with context%}
{{ nav('setup') }}

<form action="{{ url_for('project.setup', project_id = project.id)}}" method="POST">
  {% for ufo, name in state['out_ufo'].items() %}
  <div class="control-group">
    <label class="control-label" for="ufo-{{ ufo }}">New font name for font in <code>{{ ufo }}</code> folder</label>
    <div class="controls">
      <input type="text" placeholder="Type new name…" name="ufo-{{ufo}}" {% if name %}value="{{ name }}"{% endif %}>
    </div>
  </div>
  {% endfor %}

  <input type="hidden" name="step" value="3"> 
  <button type="submit" class="btn">Submit</button>
</form>
{% endblock %}
