{% extends "project/base.html" %}
{% set page_title = _("Setup Repository") %}

{% block body %}

{% from 'project/macros.html' import nav with context%}
{{ nav('setup') }}

<form action="{{ url_for('project.setup', project_id = project.id)}}" method="POST">
  {% for ufo, name in project.state['out_ufo'].items() %}
  <div class="control-group">
    <label class="control-label" for="ufo-{{ ufo }}">New font name for font in <code>{{ ufo }}</code> folder</label>
    <div class="controls">
      <input type="text" placeholder="Type new name…" name="ufo-{{ufo}}" {% if name %}value="{{ name }}"{% endif %}>
    </div>
  </div>
  {% endfor %}

  <input type="hidden" name="step" value="3"> 
  <button type="submit" class="btn">Submit</button>
</form>
{% endblock %}
