{% extends "project/base.html" %}
{% set page_title = _("Setup Project") %}
{% set config = project.config %}
{% set stateDict = {
    'copyright_license': {
        'ofl': 'Open Font License v1.1',
        'apache': 'Apache v2.0', 
        'ufl': 'Ubuntu Font License v1.0',
        }, 
    'copyright_notice': {
        'yes': 'Y',
        'no': 'N',
        },
    'trademark_notice': {
        'yes': 'Y',
        'no': 'N',
        },
    'trademark_permission': {
        'yes': 'Y',
        'no': 'N',
        },
    'rfn_asserted': {
        'yes': 'Y',
        'no': 'N',
        },
    'rfn_permission': {
        'yes': 'Y',
        'no': 'N',
        },
    'prints_ok': {
        '': 'Does it print ok?',
        'yes': 'Y',
        'no': 'N',
        },
    'source_drawing_filetype': {
        'None': 'No source file possible', 
        'UFO': 'UFO',
        'SFD': 'SFD (FontForge)', 
        'VFB': 'VFB (FontLab)', 
        'glyphs': 'Glyphs',
        },
    'source_cff_filetype': {
        'None': 'No source file possible', 
        'OTF': 'OTF', 
        'UFO': 'UFO',
        'SFD': 'SFD (FontForge)', 
        'VFB': 'VFB (FontLab)', 
        'glyphs': 'Glyphs',
        },
    'source_ttf_filetype': {
        'None': 'No source file possible', 
        'OTF': 'OTF', 
        'UFO': 'UFO',
        'SFD': 'SFD (FontForge)', 
        'VFB': 'VFB (FontLab)', 
        'glyphs': 'Glyphs',
    },
    'price_design_usd': {
        'text': 'free',
        }, 
    'price_total_usd': {
        'text': 'free',
        }, 
    'vendor_category': {
        '1': '1', 
        '2': '2', 
        '3': '3',
        },
    'hinting_level': {
        '1': '1', 
        '2': '2', 
        '3': '3', 
        '4': '4', 
        '5': '5',
        }, 
    'vendor_quality': {
        '1': '1', 
        '2': '2', 
        '3': '3', 
        '4': '4', 
        '5': '5',
        },
    'design_quality': {
        '1': '1', 
        '2': '2', 
        '3': '3', 
        '4': '4', 
        '5': '5',
        },
    'hinting_quality': {
        '1': '1', 
        '2': '2', 
        '3': '3', 
        '4': '4', 
        '5': '5',
        },
    'stats_family_name': {
        'text': 'free',
        },
    'design_category': {
        'sans': 'Sans',
        'serif': 'Serif',
        'script': 'Script',
        'display': 'Display',
        },
    } %}


{% block body %}

{% from 'project/macros.html' import nav with context%}
{{ nav('setup') }}

<h3>Bake Process Options</h3>

<div class="alert alert-info">
Setup the project's bake process. Options can be pre-selected by storing them in a <code><a href="{{ url_for('project.bakeryyaml', project_id=project.id ) }}" >bakery.yaml</a></code> file inside the git repository.
</div>

<form id="setup" class="form-horizontal" action="{{ url_for('project.setup', project_id = project.id)}}" method="POST">
  <div class="control-group row-fluid">
    <div class="controls">
      <p><strong>Bold</strong> fields are required.</p>
      {% if bakery_yaml_in_sync == false %}<p><a class="btn btn-small">Reload settings from repo</a></p>{% endif %}
    </div>
  </div>

  <div class="control-group row-fluid">
    <label class="control-label" for="license_file"><strong>License File:</strong></label>
    <div class="controls">
    <select for="license_file" name="license_file" class="input-xxlarge" required>
      <option>Select file</option>
      {% for i in config['local']['txt_files'] %}
      <option {% if config['state']['license_file']==i %}selected="selected"{% endif %} >{{ i }}</option>
      {% endfor %}
    </select>
    </div>
  </div>

  <div class="control-group row-fluid">
    <label class="control-label" for="ufo_folders"><strong>UFOs to Bake:</strong></label>
    <div class="controls">
    <select for="ufo_folders" multiple="multiple" name="ufo" class="input-xxlarge" 
        size="{{ config['local']['ufo_dirs']|length }}" required>
      {% for i in config['local']['ufo_dirs'] %}
      <option {% if i in config['state']['ufo'] %}selected="selected"{% endif %}>{{ i }}</option>
      {% endfor %}
    </select>
    </div>
  </div>

  <div class="control-group row-fluid">
    <label class="control-label" for="subset"><strong>Subsets to Bake:</strong></label>
    <div class="controls">
    <select for="subset" multiple="multiple" name="subset" class="input-xxlarge" 
      size="{{ subsetvals|length }}" required>
      {% for i in subsetvals %}
      <option {% if i in config['state']['subset'] %}selected="selected"{% endif %}>{{ i }}</option>
      {% endfor %}
    </select>
    </div>
  </div>

  <div id="familyname" class="control-group row-fluid">
    <label class="control-label" for="familyname">New font family name?</label>
    <div class="controls">
    <input type="text" placeholder="" name="familyname" 
      value="{{ config['state'].get('familyname', '') }}" 
      class="input-xxlarge" >
    <p class="muted">If you want to rename the family, type the new family name here.<br/>Else, leave it blank</p>
    </div>
  </div>

  <div class="control-group row-fluid">
    <label class="control-label" for="ttfautohint"><code>ttfautohint</code> options?</label>
    <div class="controls">
    <input type="text" placeholder="" name="ttfautohint" 
      value="{{ config['state'].get('ttfautohint', '') }}" 
      class="input-xxlarge" >
    <p class="muted">If you wish to bake the TTFs with ttfautohint, type the command line options here.<br/>Else, leave it blank</p>
    </div>
  </div>

  <div class="control-group row-fluid">
    <div class="controls">
      <input id="bake" name="bake" value="Bake" type="submit" class="btn btn-primary" {% if not config['local']['setup'] %} data-confirm="Do you have permission to use the fonts names as presented to the user in modified versions?"{% endif %} />
      <input id="save" name="save" value="Save" type="submit" class="btn" />
      {# TODO: This should only be shown if there is a bakery_yaml in upstream #}
      <input class="btn" name="reset" value="Reload from upstream" disabled="disabled">
    </div>
  </div>

</form>

<h3>Dashboard Status</h3>

{% if project.config['local'].get('bakery_yaml_in_sync', None) %}
    <div class="alert alert-info">Setup the project's dashboard metadata. Options can be pre-selected by storing them in a <code><a href="{{ url_for('project.bakeryyaml', project_id=project.id ) }}" >bakery.yaml</a></code> file inside the git repository.</div>
{% else %}
    <div class="alert alert-block">These details are <strong>NOT</strong> yet saved in the upstream repository. To save your setup for all Font Bakery installations to load, add a file named <code><a href="{{ url_for('project.bakeryyaml', project_id=project.id ) }}" >bakery.yaml</a></code> to the upstream repository that contains the following information.</div>
{% endif %}

<form id="setup" class="form-horizontal" action="{{ url_for('project.dashboard_save', project_id = project.id)}}" method="POST">

    {% for item, value in stateDict.iteritems() %}
    <div id="{{ item }}" class="control-group row-fluid">
      <label class="control-label" for="{{ item }}">{{ item }}:</label>
      <div class="controls">
          {% if item == 'copyright_license' %}
            <select name="{{ item }}">
              <option value="">Select license</option>
              <option value="ofl" {% if config['state'][item] == 'ofl' %}selected="selected"{% endif %}>Open Font License v1.1</option>
              <option value="apache" {% if config['state'][item] == 'apache' %}selected="selected"{% endif %}>Apache v2.0</option>
              <option value="ufl" {% if config['state'][item] == 'ufl' %}selected="selected"{% endif %}>Ubuntu Font License v1.0</option>
            </select>
          <p class="muted">What is the font license type?</p> {# Autodetect this #}
          {% elif item == 'trademark_notice' %}
            <select name="{{ item }}">
              <option value="">Select trademark status</option>
              <option value="yes" {% if config['state'][item] == 'yes' %}selected="selected"{% endif %}>Yes</option>
              <option value="no" {% if config['state'][item] == 'no' %}selected="selected"{% endif %}>No</option>
            </select>
          <p class="muted">Is a trademark asserted over this font name?</p>
          {% elif item == 'trademark_permission' %}
            <select name="{{ item }}">
              <option value="">Select trademark permission status</option>
              <option value="yes" {% if config['state'][item] == 'yes' %}selected="selected"{% endif %}>Yes</option>
              <option value="no" {% if config['state'][item] == 'no' %}selected="selected"{% endif %}>No</option>
            </select>
            <p class="muted">Do you have permission to use the trademark?</p>
          {% elif value['text'] == "free" %}
            <input type="text" placeholder="" name="{{ item }}" 
                value="{{ config['state'][item] }}" 
                class="input-xxlarge" >
            <p class="muted">Set string value here, or leave it blank to unset it</p>
          {% else %}
            <select name="{{ item }}">
                <option value="">Select option</option>
              {% for option, description in value.iteritems() %}
                <option value="{{ option }}"{% if config['state'][item] == option %} selected{% endif %}>{{ description }}</option>
              {% endfor %}
            </select>
          {% endif %}
      </div>
    </div>
    {% endfor %}

    <div class="control-group row-fluid">
      <div class="controls">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>

</form>


{% endblock %}


{% block extrajs %}
<script>
$(document).ready(function() {
  $('button[data-confirm]').click(function(ev) {
    var form = $(this).closest('form');

    if (!$('#dataConfirmModal').length) {
        $('body').append('<div id="dataConfirmModal" class="modal" role="dialog" aria-labelledby="dataConfirmLabel" aria-hidden="true"><div class="modal-header"><h3 id="dataConfirmLabel">RFN Permission</h3></div><div class="modal-body"></div><div class="modal-footer"><button class="btn pull-left" data-dismiss="modal" aria-hidden="true">Cancel</button><a class="btn btn-success" id="dataConfirmYes">Yes</a><a class="btn btn-danger" id="dataConfirmNo">No</a></div></div>');
    } 

    $('#dataConfirmModal').find('.modal-body').text($(this).attr('data-confirm'));
    $('#dataConfirmModal').modal({show:true});

    $('#dataConfirmYes').click(function(ev){
        form.submit();
    });

    $('#dataConfirmNo').click(function(ev){
      $('#dataConfirmModal').modal('hide');
          if (!$('#dataComplyModal').length) {
        $('body').append('<div id="dataComplyModal" class="modal" role="dialog" aria-labelledby="ariaComplyLabel" aria-hidden="true"><div class="modal-header"><h3 id="dataComplyLabel">RFN Permission</h3></div><div class="modal-body">You must get written permission from the copyright holder to use their name, or set a new family name on this page.</div><div class="modal-footer"><a class="btn btn-success" id="dataComplyYes" data-dismiss="modal" aria-hidden="true">I understand</a></div></div>');
      }
      $('#dataComplyModal').modal({show:true});
    });

    return false;
  });
});
</script>
{% endblock %}
