{% extends "project/base.html" %}
{% set page_title = _("Tests results") %}

{% block body %}
<h5>{{ project.clone }} <a class="pull-right" href="{{ url_for('project.bump', project_id = project.id )}}" data-confirm="Are you sure you want to pull from the upstream git repository?"><button class="btn btn-small btn-primary" type="button"><i class="icon-chevron-up"></i> Pull from upstream</button></a></h5>
<h2>{{ _("Tests results") }}</h2>

{% from 'project/macros.html' import nav with context%}
{{ nav('tests') }}


{% for name in tests.keys() %}
<h3> {{ name }}.ufo</h3>
<pre>{{ tests[name] }}</pre>
{% endfor %}

<!-- <h3> Font.ufo </h3>
<ul>
    <li><i class="icon-circle text-error"></i> test_name, error code</li>
    <li><i class="icon-circle text-success"></i> test_name</li>
</ul>
 -->

{% endblock %}
