{% extends "project/base.html" %}
{% set page_title = _("Tests Log") %}

{% block body %}
<h5>{{ project.clone }} <a class="pull-right" href="{{ url_for('project.bump', project_id = project.id )}}" data-confirm="Are you sure you want to pull from the upstream git repository?"><button class="btn btn-small" type="button"><i class="icon-chevron-up"></i> Pull from upstream</button></a></h5>
<h2>{{ page_title }}</h2>

{% from 'project/macros.html' import nav with context %}
{{ nav('tests') }}

{% for name in tests.keys() %}
<h3> {{ name }}.ufo</h3>
{% set t =  tests[name]['sum'] %}
{% set sl = tests[name]['success']|length|int %} 
{% set el = tests[name]['error']|length|int %}
{% set fl = tests[name]['failure']|length|int %}

<div class="progress">
  <div class="bar bar-success" style="width: {{ 100*sl/t }}%;"></div>
  <div class="bar bar-warning" style="width: {{ 100*el/t }}%;"></div>
  <div class="bar bar-danger" style="width: {{ 100*fl/t }}%;"></div>
</div>

<ul>

  {% for item in tests[name]['failure'] %}
    <li><i class="icon-circle text-error"></i> <strong>{{item._testMethodName}}</strong> {{item._testMethodDoc}}</li>
  {% endfor %}

  {% for item in tests[name]['error'] %}
    <li><i class="icon-circle text-warning"></i> <strong>{{item._testMethodName}}</strong> {{item._testMethodDoc}}</li>
  {% endfor %}

  {% for item in tests[name]['success'] %}
    <li class="muted"><i class="icon-circle text-success"></i> <strong>{{item._testMethodName}}</strong> {{item._testMethodDoc}}</li>
  {% endfor %}

</ul>

{% endfor %}

{% endblock %}
