{% extends "project/base.html" %}
{% set page_title = _("Incoming Repository Files") %}

{% block pnav %}
{% from 'project/macros.html' import nav with context%}
{{ nav('upstream') }}
{% endblock %}

{% block pbody %}

{% from 'project/macros.html' import subnav_git with context%}
{{ subnav_git('ufiles', revision=revision) }}

<h4>{{ _("Repository Files") }} </h4>
{% from 'project/macros.html' import revision_head with context %}
{{ revision_head(revision) }}
{% from 'project/macros.html' import filestree with context %}
{{ filestree(project.revision_tree(revision), revision) }}
{% endblock %}
