{% extends "project/base.html" %}
{% set page_title = _("Incoming Repository Files") %}

{% block pnav %}
{% from 'project/macros.html' import nav with context%}
{{ nav('upstream') }}
{% endblock %}

{% block pbody %}
{% from 'project/macros.html' import subnav_git with context%}
{{ subnav_git('ufiles') }}

  <h4>{{ _("Repository Files") }} </h4>
{% from 'project/macros.html' import revision_head with context %}
{{ revision_head(revision) }}
{% if mime.startswith('text') %}
<pre>{{ data }}</pre>
{% elif mime.startswith('image') %}
{% set sname=name|signify %}
<div class="well text-center" style="overflow: auto;overflow-x: auto;overflow-y: hidden;">
<img src="{{ url_for('project.ufileblob', project_id=project.id, revision=revision, name=sname)}}" class="img-polaroid" style="vertical-align: middle;" />
</div>
{% else %}
<pre>


  <center>{{ _("This file is binary or unknown format. Use other tools to read its contents.") }}</center>


</pre>
{% endif %}
{% endblock %}
