{% extends "project/base.html" %}
{% set page_title = _("bakery.yaml") %}

{% block body %}

{% from 'project/macros.html' import nav with context%}
{{ nav('yaml') }}

<div class="alert alert-info">To load these settings in all Font Bakery installations by default, you may add a file named <tt>bakery.yaml</tt> to the upstream repository that contains this information.</div>
<div id="editor"></div>
<textarea name="yaml">{{ yaml }}</textarea>
{% endblock %}

{% block extrajs %}
<script src="{{ url_for('static', filename='ace/ace-builds-master/src-noconflict/ace.js') }}" type="text/javascript" charset="utf-8"></script>
<script>
var editor = ace.edit("editor");
editor.setTheme("ace/theme/solarized_light");
editor.getSession().setMode("ace/mode/yaml");

var textarea = $('textarea[name="yaml"]').hide();
editor.getSession().setUseWrapMode(true);
editor.getSession().setValue(textarea.val());
editor.setReadOnly(true);
</script>
{% endblock %}
