name: Lint & Test

on:
  push:
    paths-ignore:
      - 'docs/**'
      - '**.md'
      - '**.txt'

  pull_request:
    types:
      - opened
    paths-ignore:
      - 'docs/**'
      - '**.md'
      - '**.txt'

jobs:
  lint:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0  # unshallow fetch for setuptools-scm (otherwise the version is always 0.1.dev1)

    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements.txt -r requirements-tests.txt

    - name: Run black, flake8, and pylint
      run: |
        black . --check --diff --color
        flake8
        pylint Lib tests


  test:
    needs: lint
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.8", "3.9", "3.10", "3.11"]

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0  # unshallow fetch for setuptools-scm (otherwise the version is always 0.1.dev1)

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements.txt -r requirements-tests.txt
        python -m pip freeze --all

    - name: Install FontBakery
      run: |
        python -m pip install . --use-pep517

    - name: Test with pytest
      run: |
        python -m pytest

    - name: Run coverage (only Ubuntu/Python 3.10)
      if: matrix.os == 'ubuntu-latest' && matrix.python-version == '3.10'
      run: |
        python -m pytest --quiet --cov

