name: Tests & linting

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: ["3.8", "3.9", "3.10", "3.11"]

    steps:
    - uses: actions/checkout@v3
      with:
        fetch-depth: 0  # unshallow fetch for setuptools-scm (otherwise the version is always 0.1.dev1)

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Install FontValidator (for testing on GNU+Linux only)
      if: matrix.os == 'ubuntu-latest'
      run: |
        sudo apt-get install mono-runtime libmono-system-windows-forms4.0-cil
        wget https://github.com/HinTak/Font-Validator/releases/download/FontVal-2.1.2/FontVal-2.1.2-ubuntu-16.04-x64.tgz
        tar -xvzf ./FontVal-2.1.2-ubuntu-16.04-x64.tgz
        sudo mv ./FontVal-2.1.2-ubuntu-16.04-x64/FontValidator /usr/local/bin/FontValidator

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r testing-requirements.txt
        python -m pip install -r requirements.txt
        python -m pip freeze --all

    - name: Install Font Bakery
      run: |
        python -m pip install . --use-pep517

    - name: Run flake8 & pylint (only Ubuntu/Python 3.9)
      if: matrix.os == 'ubuntu-latest' && matrix.python-version == '3.9'
      run: |
        flake8 --count --show-source --statistics
        pylint Lib/fontbakery

    - name: Test with pytest
      run: |
        python -m pytest

    - name: Run coverage (only Ubuntu/Python 3.10)
      if: matrix.os == 'ubuntu-latest' && matrix.python-version == '3.10'
      run: |
        python -m pytest --cov
