<!-- index.html -->
<!DOCTYPE html>
<html ng-app="FBDashboard">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title "Font Bakery Dashboard"></title>

  <script type="text/javascript" src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

  <script type="text/javascript" src="js/dashboard.js"></script>
  <link rel="stylesheet" href="css/dashboard.css" />
</head>
<body>
  <div class="dashboard" ng-controller='FontListController as fontlist'>
    <h1>Fontbakery Dashboard</h1>
    <p>This dashboard monitors the progress status of a selection of font projects.</p>
    <p>Percentages in the progress bars below correspond to the ammount of checks from the FontBakery test-suite that are satisfied by the given family. Click on a family to see a detaile dreport.</p>
    <ul>
      <li ng-repeat='family in fontlist.families' ng-click="fontlist.details = family.url">
        <span class="familyname">{{family.name}}</span>
        <progress max='{{family.num_checks}}' value='{{family.num_passed}}'/>
      </li>
    </ul>
    <p>{{fontlist.details}}</p>
    <p>If you want to add a new family to this monitoring dashboard, please submit an issue at FontBakery's <a href="https://github.com/googlefonts/fontbakery/issues/new">issue tracker</a>
    <br/>
    <br/>
    <small>(or edit <a href = "json/dashboard_config.json">json/dashboard_config.json</a> if you're running your own instance of the dashboard)</small></p>
  </div>
</body>
</html>
